*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    text-decoration: none;
    list-style: none;
}

html{
    font-size: 10px;
    scroll-behavior: smooth;
}

body{
    background-color: #000;
}

.container{
    width: 120rem;
    margin: 0 auto;
}

section{
    width: 100%;
    overflow-x: hidden;
}

/*#region Header Codes*/

header{
    width: 100%;
    padding: 1rem 0;
    position: fixed;
    top: 0; left: 0;
    z-index: 100;

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;

        #header-logo{
            
            img{
                width: auto;
                height: 3rem;
            }
        }

        #header-menu{
            nav{
                ul{
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;

                    li{
                        cursor: pointer;
                        margin-left: 3rem;
                        padding: 2.5rem 0;
                        font-size: 1.7rem;
                        font-weight: 400;
                        color: #fff;
                        display: flex;
                        align-items: center;

                        &:first-child{
                            margin-left: 0;
                        }

                        &:last-child{
                            position: relative;

                            ol{
                                position: absolute;
                                top: 6rem;
                                right: 0;
                                width: 5rem;
                                padding: 1rem 0;
                                background-color: rgba(255,255,255,0.2);
                                border-radius: 0.5rem;
                                display: none;
                                
                                li{
                                    width: 100%;
                                    padding: 0;
                                    display: flex;
                                    justify-content: center;
                                }
                            }
                        }

                        a{
                            color: inherit;
                        }

                        i{
                            font-size: 1.3rem;
                            margin-left: 1rem;
                        }
                    }
                }
            }
        }
    }
}

/*#endregion*/

/*#region Main Codes*/

main{

    section#home{
        position: relative;
        height: 100vh;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        
        #home-slider{
            position: absolute;
            top: 0; left: 0;
            width: 100%;
            height: 100%;
            background-image: url(../img/home-slider-1.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: -1;
            transition: background-image 1.25s ease;
        }

        .container{
            padding-bottom: 7.5rem;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            
            #home-content{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                
                h1{
                    font-size: 7rem;
                    font-weight: 400;
                    color: #fff;
                    line-height: 7rem;
                    margin-bottom: 2.5rem;
                }

                a{
                    background-color: #fff;
                    border-radius: 3rem;
                    border: none;
                    outline: none;
                    padding: 1.6rem 3.25rem;
                    font-size: 1.5rem;
                    font-weight: 500;
                    color: #000;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    i{
                        font-size: 1.8rem;
                        color: #000;
                        margin-left: 0.75rem;
                    }
                }
            }

            #home-buttons{
                display: flex;
                justify-content: center;
                align-items: center;

                button{
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 1.6rem;
                    border-radius: 2.4rem 0 0 2.4rem;
                    background-color: #fff;
                    border: none;
                    margin: 0 0.15rem;

                    &:last-child{
                        border-radius: 0 2.4rem 2.4rem 0;

                        i{
                            margin-left: 0.5rem;
                            margin-right: 0;
                        }
                    }

                    i{
                        font-size: 1.75rem;
                        color: #000;
                        margin-right: 0.5rem;
                    }

                    span{
                        font-size: 1.5rem;
                        font-weight: 500;
                        color: #000;
                    }
                }
            }
        }
    }

    section#features{

    }

    section#coming-soon{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        #coming-soon-background{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            z-index: -1;
            background-image: url(../img/cooming-soon-img.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center bottom;
            transition: transform 0.5s ease;
        }

        .container{
            display: flex;
            flex-direction: column;
            align-items: center;

            #coming-soon-title{

                h1{
                    font-size: 7rem;
                    font-weight: 400;
                    color: #FFF;
                    letter-spacing: 0.14rem;
                    margin-bottom: 4rem;
                    text-align: center;
                }
            }

            #coming-soon-timelapse{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                .timelapse{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    padding: 0 2rem;
                    width: 15%;

                    span{
                        font-size: 4.4rem;
                        font-weight: 400;
                        color: #FFF;
                        margin-bottom: 1rem;
                    }

                    p{
                        font-size: 1.8rem;
                        font-weight: 400;
                        color: #b6b6b6;   
                    }
                }
            }
        }
    }
}

/*#endregion*/


/*#region Responsive Codes*/

@media screen and (max-width: 1390px){
    html{
        font-size: 9.8px;
    }
}
@media screen and (max-width: 1340px){
    html{
        font-size: 9.6px;
    }
}
@media screen and (max-width: 1290px){
    html{
        font-size: 9.4px;
    }
}
@media screen and (max-width: 1240px){
    html{
        font-size: 9.2px;
    }
}
@media screen and (max-width: 1190px){
    html{
        font-size: 9px;
    }
}
@media screen and (max-width: 1140px){
    html{
        font-size: 8.8px;
    }
}
@media screen and (max-width: 1090px){
    html{
        font-size: 8.6px;
    }
}
@media screen and (max-width: 1024px){
    html{
        font-size: 9px;
    }
}

@media screen and (max-width: 974px){
    html{
        font-size: 8.8px;
    }
}
@media screen and (max-width: 924px){
    html{
        font-size: 8.6px;
    }
}
@media screen and (max-width: 874px){
    html{
        font-size: 8.4px;
    }
}
@media screen and (max-width: 824px){
    html{
        font-size: 8.2px;
    }
}
@media screen and (max-width: 768px){
    html{
        font-size: 8px;
    }

    .container{
        width: 90%;
    }

    main{
        section#coming-soon{
            .container{
                #coming-soon-timelapse{
                    .timelapse{
                        width: 20%;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 718px){
    html{
        font-size: 7.8px;
    }
}
@media screen and (max-width: 668px){
    html{
        font-size: 7.6px;
    }
}
@media screen and (max-width: 618px){
    html{
        font-size: 7.4px;
    }
}
@media screen and (max-width: 568px){
    html{
        font-size: 7.2px;
    }
}
@media screen and (max-width: 518px){
    html{
        font-size: 7px;
    }
}
@media screen and (max-width: 468px){
    html{
        font-size: 10px;
    }
    
    main{
        section#coming-soon{

            #coming-soon-background{
                height: 80vh;
            }

            .container{
                #coming-soon-timelapse{
                    flex-wrap: wrap;

                    .timelapse{
                        width: 35%;
                        margin-bottom: 3rem;

                        &:nth-child(3),&:nth-child(4){
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 425px){
    html{
        font-size: 9.75px;
    }
}
@media screen and (max-width: 400px){
    html{
        font-size: 9.5px;
    }
}
@media screen and (max-width: 375px){
    html{
        font-size: 9.25px;
    }
}
@media screen and (max-width: 350px){
    html{
        font-size: 9px;
    }
}
@media screen and (max-width: 325px){
    html{
        font-size: 8.75px;
    }
}


/*#endregion*/