* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  height: 3000px;
}

.container {
  width: 120rem;
  margin: 0 auto;
}

section {
  width: 100%;
  overflow-x: hidden;
}

/*#region Header Codes*/
header {
  width: 100%;
  height: 7rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: background-color 0.5s ease;
}
header.scroll {
  background-color: #000;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container #header-logo img {
  width: auto;
  height: 3rem;
}
header .container #header-menu nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .container #header-menu nav ul li {
  cursor: pointer;
  margin-left: 3rem;
  padding: 2.5rem 0;
  font-size: 1.7rem;
  font-weight: 400;
  color: #fff;
  display: flex;
  align-items: center;
}
header .container #header-menu nav ul li:first-child {
  margin-left: 0;
}
header .container #header-menu nav ul li:last-child {
  position: relative;
}
header .container #header-menu nav ul li:last-child ol {
  position: absolute;
  top: 6rem;
  right: 0;
  width: 5rem;
  padding: 1rem 0;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0.5rem;
  display: none;
}
header .container #header-menu nav ul li:last-child ol li {
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
}
header .container #header-menu nav ul li a {
  color: inherit;
}
header .container #header-menu nav ul li i {
  font-size: 1.3rem;
  margin-left: 1rem;
}

/*#endregion*/
/*#region Main Codes*/
main section#home {
  position: relative;
  height: 100vh;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
main section#home #home-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/home-slider-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  transition: background-image 1.25s ease;
}
main section#home .container {
  padding-bottom: 7.5rem;
}
main section#home .container #home-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
main section#home .container #home-content h1 {
  font-size: 7rem;
  font-weight: 400;
  color: #fff;
  line-height: 7rem;
  margin-bottom: 2.5rem;
}
main section#home .container #home-content a {
  background-color: transparent;
  border-radius: 3rem;
  border: 0.3rem solid #fff;
  outline: none;
  padding: 1.6rem 3.25rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color, color;
  transition: 0.3s ease;
}
main section#home .container #home-content a:hover {
  background-color: #fff;
  color: #000;
}
main section#home .container #home-content a i {
  font-size: 1.8rem;
  color: #000;
  margin-left: 0.75rem;
}
main section#products {
  padding: 12rem 0;
}
main section#products .container #products-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 6rem;
}
main section#products .container #products-title h2 {
  width: calc(95% - 35rem);
  font-size: 4.2rem;
  font-weight: 400;
  color: #fff;
  line-height: 4.8rem;
}
main section#products .container #products-title p {
  width: calc(35rem + 5%);
  padding: 1.5rem 0 1.5rem 5%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  color: #b6b6b6;
  border-left: 0.1rem solid rgba(255, 255, 255, 0.2);
}
main section#products .container #products-content {
  width: 100%;
  height: 40rem;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
main section#products .container #products-content #products-slider {
  width: 166.66%;
  position: absolute;
  top: 0;
  left: -33%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: left 0.75s ease;
}
main section#products .container #products-content #products-slider .product {
  width: 33.33%;
  display: flex;
  justify-content: center;
}
main section#products .container #products-content #products-slider .product img {
  width: 100%;
  max-width: 30rem;
}
main section#products .container #products-content #products-pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section#products .container #products-content #products-pagination span {
  cursor: pointer;
  margin: 0 0.75rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 0.125rem solid #fff;
  transition: background-color 0.3s ease;
}
main section#products .container #products-content #products-pagination span:hover, main section#products .container #products-content #products-pagination span.active {
  background-color: #fff;
}
main section#features .feature {
  position: relative;
  width: 100%;
  height: 50rem;
  padding-top: 5rem;
}
main section#features .feature img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transition: object-position 0.4s ease-out;
  transition: object-position 0.4s ease-out, -o-object-position 0.4s ease-out;
  z-index: 0;
}
main section#features .feature .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
main section#features .feature .container * {
  z-index: 1;
  width: 50%;
}
main section#features .feature .container h3 {
  font-size: 4.2rem;
  font-weight: 400;
  color: #fff;
  margin-bottom: 2rem;
}
main section#features .feature .container p {
  font-size: 1.6rem;
  font-weight: 400;
  color: #b6b6b6;
  line-height: 1.75;
}
main section#coming-soon {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section#coming-soon #coming-soon-background {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background-image: url(../img/cooming-soon-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  transition: transform 0.5s ease;
}
main section#coming-soon .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section#coming-soon .container #coming-soon-title h1 {
  font-size: 7rem;
  font-weight: 400;
  color: #FFF;
  letter-spacing: 0.14rem;
  margin-bottom: 4rem;
  text-align: center;
}
main section#coming-soon .container #coming-soon-timelapse {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section#coming-soon .container #coming-soon-timelapse .timelapse {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 2rem;
  width: 15%;
}
main section#coming-soon .container #coming-soon-timelapse .timelapse span {
  font-size: 4.4rem;
  font-weight: 400;
  color: #FFF;
  margin-bottom: 1rem;
}
main section#coming-soon .container #coming-soon-timelapse .timelapse p {
  font-size: 1.8rem;
  font-weight: 400;
  color: #b6b6b6;
}

/*#endregion*/
/*#region Responsive Codes*/
@media screen and (max-width: 1390px) {
  html {
    font-size: 9.8px;
  }
}
@media screen and (max-width: 1340px) {
  html {
    font-size: 9.6px;
  }
}
@media screen and (max-width: 1290px) {
  html {
    font-size: 9.4px;
  }
}
@media screen and (max-width: 1240px) {
  html {
    font-size: 9.2px;
  }
}
@media screen and (max-width: 1190px) {
  html {
    font-size: 9px;
  }
}
@media screen and (max-width: 1140px) {
  html {
    font-size: 8.8px;
  }
}
@media screen and (max-width: 1090px) {
  html {
    font-size: 8.6px;
  }
}
@media screen and (max-width: 1024px) {
  html {
    font-size: 9px;
  }
}
@media screen and (max-width: 974px) {
  html {
    font-size: 8.8px;
  }
}
@media screen and (max-width: 924px) {
  html {
    font-size: 8.6px;
  }
}
@media screen and (max-width: 874px) {
  html {
    font-size: 8.4px;
  }
}
@media screen and (max-width: 824px) {
  html {
    font-size: 8.2px;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 8px;
  }
  .container {
    width: 90%;
  }
  main section#coming-soon .container #coming-soon-timelapse .timelapse {
    width: 20%;
  }
}
@media screen and (max-width: 718px) {
  html {
    font-size: 7.8px;
  }
}
@media screen and (max-width: 668px) {
  html {
    font-size: 7.6px;
  }
}
@media screen and (max-width: 618px) {
  html {
    font-size: 7.4px;
  }
}
@media screen and (max-width: 568px) {
  html {
    font-size: 7.2px;
  }
}
@media screen and (max-width: 518px) {
  html {
    font-size: 7px;
  }
}
@media screen and (max-width: 468px) {
  html {
    font-size: 10px;
  }
  main section#coming-soon #coming-soon-background {
    height: 80vh;
  }
  main section#coming-soon .container #coming-soon-timelapse {
    flex-wrap: wrap;
  }
  main section#coming-soon .container #coming-soon-timelapse .timelapse {
    width: 35%;
    margin-bottom: 3rem;
  }
  main section#coming-soon .container #coming-soon-timelapse .timelapse:nth-child(3), main section#coming-soon .container #coming-soon-timelapse .timelapse:nth-child(4) {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 425px) {
  html {
    font-size: 9.75px;
  }
}
@media screen and (max-width: 400px) {
  html {
    font-size: 9.5px;
  }
}
@media screen and (max-width: 375px) {
  html {
    font-size: 9.25px;
  }
}
@media screen and (max-width: 350px) {
  html {
    font-size: 9px;
  }
}
@media screen and (max-width: 325px) {
  html {
    font-size: 8.75px;
  }
}
/*#endregion*//*# sourceMappingURL=style.css.map */