*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    text-decoration: none;
    list-style: none;
}

html{
    font-size: 10px;
    scroll-behavior: smooth;
}

.container{
    width: 120rem;
    margin: 0 auto;
}

section{
    width: 100%;
    background-color: #000;
    overflow-x: hidden;
}

/*#region Header Codes*/

header{
    width: 100%;
    height: 7rem;
    position: fixed;
    top: 0; left: 0;
    z-index: 100;
    transition: background-color 0.5s ease;

    &.scroll{
        background-color: #000;
    }

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;

        #header-logo{
            
            img{
                width: auto;
                height: 3rem;
            }
        }

        #header-menu{
            nav{
                ul{
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;

                    li{
                        cursor: pointer;
                        margin-left: 3rem;
                        padding: 2.5rem 0;
                        font-size: 1.7rem;
                        font-weight: 400;
                        color: #fff;
                        display: flex;
                        align-items: center;

                        &:first-child{
                            margin-left: 0;
                        }

                        &:last-child{
                            position: relative;

                            ol{
                                position: absolute;
                                top: 6rem;
                                right: 0;
                                width: 5rem;
                                padding: 1rem 0;
                                background-color: rgba(255,255,255,0.2);
                                border-radius: 0.5rem;
                                display: none;
                                
                                li{
                                    width: 100%;
                                    padding: 0;
                                    display: flex;
                                    justify-content: center;
                                }
                            }
                        }

                        a{
                            color: inherit;
                        }

                        i{
                            font-size: 1.3rem;
                            margin-left: 1rem;
                        }
                    }
                }
            }
        }
    }
}

/*#endregion*/

/*#region Main Codes*/

main{

    #background{
        position: fixed;
        top: 0; left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../img/presentation-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        z-index: -1;
    }

    section#home{
        background-color: transparent;
        position: relative;
        height: 100vh;
        padding: 0;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        
        #home-slider{
            position: absolute;
            top: 0; left: 0;
            width: 100%;
            height: 100%;
            background-image: url(../img/home-slider-1.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: -1;
            transition: background-image 1.25s ease;
        }

        .container{
            padding-bottom: 7.5rem;
            
            #home-content{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                
                h1{
                    font-size: 7rem;
                    font-weight: 400;
                    color: #fff;
                    line-height: 7rem;
                    margin-bottom: 2.5rem;
                }

                a{
                    background-color: transparent;
                    border-radius: 3rem;
                    border: 0.3rem solid #fff;
                    outline: none;
                    padding: 1.6rem 3.25rem;
                    font-size: 1.5rem;
                    font-weight: 500;
                    color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition-property: background-color,color;
                    transition: 0.3s ease;

                    &:hover{
                        background-color: #fff;
                        color: #000;
                    }

                    i{
                        font-size: 1.8rem;
                        color: #000;
                        margin-left: 0.75rem;
                    }
                }
            }
        }
    }

    section#products{
        padding: 12rem 0;

        .container{
            #products-title{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 6rem;

                h2{
                    width: calc(95% - 35rem);
                    font-size: 4.2rem;
                    font-weight: 400;
                    color: #fff;
                    line-height: 4.8rem;
                }

                p{
                    width: calc(35rem + 5%);
                    padding: 1.5rem 0 1.5rem 5%;
                    font-size: 1.6rem;
                    font-weight: 400;
                    line-height: 1.6;
                    color: #b6b6b6;
                    border-left: 0.1rem solid rgba(255,255,255,0.2);
                }
            }

            #products-content{
                width: 100%;
                height: 40rem;
                position: relative;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;

                #products-slider{
                    width: 166.66%;
                    position: absolute;
                    top: 0;
                    left: -33%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    transition: left 0.75s ease;

                    .product{
                        width: 33.33%;
                        display: flex;
                        justify-content: center;

                        img{
                            width: 100%;
                            max-width: 30rem;
                        }
                    }
                }

                #products-pagination{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    span{
                        cursor: pointer;
                        margin: 0 0.75rem;
                        width: 1.5rem;
                        height: 1.5rem;
                        border-radius: 50%;
                        border: 0.125rem solid #fff;
                        transition: background-color 0.3s ease;

                        &:hover,&.active{
                            background-color: #fff;
                        }
                    }
                }
            }
        }
    }

    section#show{

        .show{
            position: relative;
            width: 100%;
            height: 50rem;
            padding-top: 5rem;

            img{
                position: absolute;
                top: 0; left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                transition: object-position 0.4s ease-out;
                z-index: 0;
            }

            .container{
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                *{
                    z-index: 1;
                    width: 50%;
                }

                h3{
                    font-size: 4.2rem;
                    font-weight: 400;
                    color: #fff;
                    margin-bottom: 2rem;
                }

                p{
                    font-size: 1.6rem;
                    font-weight: 400;
                    color: #b6b6b6;
                    line-height: 1.75;
                }
            }
        }
    }

    section#features{
        padding: 12rem 0;

        .container{

            #features-title{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                padding-bottom: 6rem;

                span{
                    font-size: 1.4rem;
                    font-weight: 400;
                    color: #b6b6b6;
                    margin-bottom: 0.5rem;
                }

                h2{
                    width: 100%;
                    font-size: 4.2rem;
                    font-weight: 400;
                    color: #fff;
                    margin-bottom: 2rem;
                }

                p{
                    width: 60%;
                    font-size: 1.6rem;
                    font-weight: 400;
                    color: #b6b6b6;
                    line-height: 1.75;
                }
            }

            #features-content{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .feature{
                    position: relative;
                    width: calc(25% - 1.5rem);
                    border: 0.15rem solid #212121;
                    height: 40rem;
                    overflow: hidden;
                    display: flex;
                    padding: 3rem 2rem;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: center;

                    &:hover{
                        
                        img{
                            transform: scale(1.05);
                        }

                        .feature-overlay{
                            opacity: 0.6;
                        }
                    }

                    img{
                        position: absolute;
                        top: 0; left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                        z-index: 0;
                        transition: transform 0.5s ease;
                    }

                    .feature-overlay{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: 1;
                        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.3) 75%);
                        transition: opacity 0.75s ease;
                    }

                    .feature-text{
                        width: 100%;
                        text-align: center;
                        z-index: 5;

                        h6{
                            font-size: 2.4rem;
                            font-weight: 400;
                            color: #fff;
                        }

                        p{
                            font-size: 1.4rem;
                            font-weight: 400;
                            color: #b6b6b6;
                        }
                    }
                }
            }
        }
    }

    
    section#contact{
        background: linear-gradient(0deg, rgba(0,0,0,1) -10%, rgba(255,255,255,0) 50%, rgba(0,0,0,1) 110%);
        padding: 12rem 0;

        .container{
            #contact-title{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                text-align: center;
                width: 60%;
                margin: 0 auto;
                padding-bottom: 2rem;

                h2{
                    font-size: 4.2rem;
                    font-weight: 400;
                    color: #fff;
                    line-height: 1.75;
                    margin-bottom: 1rem;
                }

                p{
                    width: 75%;
                    font-size: 1.6rem;
                    font-weight: 400;
                    color: #b6b6b6;
                    line-height: 1.75;
                    margin-bottom: 4.5rem;
                }
            }

            #contact-content{
                width: 100%;
                display: flex;
                flex-direction: column;

                ul{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;

                    li{
                        width: 20%;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: center;
                        text-align: center;

                        h6{
                            font-size: 2.2rem;
                            font-weight: 400;
                            color: #fff;
                            margin-bottom: 1rem;
                        }

                        a{
                            p{
                                font-size: 1.6rem;
                                font-weight: 400;
                                color: #b6b6b6;
                                transition: color 0.3s ease;
                            }

                            &:hover{
                                p{
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    section#coming-soon{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        #coming-soon-background{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            z-index: -1;
            background-image: url(../img/cooming-soon-img.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center bottom;
            transition: transform 0.5s ease;
        }

        .container{
            display: flex;
            flex-direction: column;
            align-items: center;

            #coming-soon-title{

                h1{
                    font-size: 7rem;
                    font-weight: 400;
                    color: #FFF;
                    letter-spacing: 0.14rem;
                    margin-bottom: 4rem;
                    text-align: center;
                }
            }

            #coming-soon-timelapse{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                .timelapse{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    padding: 0 2rem;
                    width: 15%;

                    span{
                        font-size: 4.4rem;
                        font-weight: 400;
                        color: #FFF;
                        margin-bottom: 1rem;
                    }

                    p{
                        font-size: 1.8rem;
                        font-weight: 400;
                        color: #b6b6b6;   
                    }
                }
            }
        }
    }
}

/*#endregion*/

/*#region Footer Codes*/

footer{
    width: 100%;
    background-color: #000;
    padding: 12rem 0;

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;

        div{
            width: 20%;
        }

        #footer-business{
            width: 30%;

            img{
                max-width: 10rem;
                width: 50%;
                margin-bottom: 3rem;
            }

            p{
                font-size: 1.2rem;
                font-weight: 500;
                letter-spacing: 0.05rem;
                line-height: 1.75;
                color: #fff;

                span{
                    font-weight: 300;
                    color: #b6b6b6;

                    a{
                        color: #b6b6b6;
                        transition: color 0.3s ease;

                        &:hover{
                            color: #fff;
                            font-weight: 500;
                        }
                    }
                }
            }
        }

        #footer-address,#footer-about,#footer-social{
            h6{
                font-size: 2.2rem;
                font-weight: 400;
                color: #fff;
                margin-bottom: 2rem;
            }

            ul{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                li{
                    cursor: pointer;
                    transition: transform 0.3s ease;

                    &:hover{
                        transform: translateX(1rem);

                        a{
                            color: #fff;
                        }
                    }

                    a{
                        font-size: 1.6rem;
                        font-weight: 400;
                        color: #b6b6b6;
                        line-height: 2.6rem;
                        transition: color 0.3s ease;
                    }
                }
            }
        }
    }
}

/*#endregion*/

/*#region Responsive Codes*/

@media screen and (max-width: 1390px){
    html{
        font-size: 9.8px;
    }
}
@media screen and (max-width: 1340px){
    html{
        font-size: 9.6px;
    }
}
@media screen and (max-width: 1290px){
    html{
        font-size: 9.4px;
    }
}
@media screen and (max-width: 1240px){
    html{
        font-size: 9.2px;
    }
}
@media screen and (max-width: 1190px){
    html{
        font-size: 9px;
    }
}
@media screen and (max-width: 1140px){
    html{
        font-size: 8.8px;
    }
}
@media screen and (max-width: 1090px){
    html{
        font-size: 8.6px;
    }
}
@media screen and (max-width: 1024px){
    html{
        font-size: 9px;
    }
}

@media screen and (max-width: 974px){
    html{
        font-size: 8.8px;
    }
}
@media screen and (max-width: 924px){
    html{
        font-size: 8.6px;
    }
}
@media screen and (max-width: 874px){
    html{
        font-size: 8.4px;
    }
}
@media screen and (max-width: 824px){
    html{
        font-size: 8.2px;
    }
}
@media screen and (max-width: 768px){
    html{
        font-size: 8px;
    }

    .container{
        width: 90%;
    }

    main{
        section#coming-soon{
            .container{
                #coming-soon-timelapse{
                    .timelapse{
                        width: 20%;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 718px){
    html{
        font-size: 7.8px;
    }
}
@media screen and (max-width: 668px){
    html{
        font-size: 7.6px;
    }
}
@media screen and (max-width: 618px){
    html{
        font-size: 7.4px;
    }
}
@media screen and (max-width: 568px){
    html{
        font-size: 7.2px;
    }
}
@media screen and (max-width: 518px){
    html{
        font-size: 7px;
    }
}
@media screen and (max-width: 468px){
    html{
        font-size: 10px;
    }
    
    main{
        section#coming-soon{

            #coming-soon-background{
                height: 80vh;
            }

            .container{
                #coming-soon-timelapse{
                    flex-wrap: wrap;

                    .timelapse{
                        width: 35%;
                        margin-bottom: 3rem;

                        &:nth-child(3),&:nth-child(4){
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 425px){
    html{
        font-size: 9.75px;
    }
}
@media screen and (max-width: 400px){
    html{
        font-size: 9.5px;
    }
}
@media screen and (max-width: 375px){
    html{
        font-size: 9.25px;
    }
}
@media screen and (max-width: 350px){
    html{
        font-size: 9px;
    }
}
@media screen and (max-width: 325px){
    html{
        font-size: 8.75px;
    }
}


/*#endregion*/