*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    text-decoration: none;
    list-style: none;
}

html{
    font-size: 11.2px;
    scroll-behavior: smooth;
}

body{
    background-color: #000;

    &::-webkit-scrollbar {
        width: 1.2rem;
    }
    &::-webkit-scrollbar-track {
        background-color: #000;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #212121;
    }
}

.container{
    width: 120rem;
    margin: 0 auto;
}

section{
    width: 100%;
    background-color: #000;
    overflow-x: hidden;
}

/*#region Header Codes*/

header{
    width: 100%;
    padding: 2rem 0;
    position: fixed;
    top: 0; left: 0;
    z-index: 100;
    border-bottom: 0.2rem solid transparent;
    transition-property: background-color,border-color;
    transition: 0.5s ease;

    &.scroll{
        background-color: #000;
        border-color: #212121;
    }

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;

        #header-logo{
            flex-shrink: 0;
            
            img{
                width: auto;
                height: 3rem;
            }
        }

        #header-mobile{
            display: none;
            
            i{
                font-size: 2.5rem;
                color: #fff;
            }
        }

        #header-menu{
            width: 100%;

            nav{
                ul{
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;

                    &:hover{
                        li{
                            color: #b6b6b6;
                        }
                    }

                    li{
                        cursor: pointer;
                        margin-left: 3rem;
                        font-size: 1.7rem;
                        font-weight: 400;
                        color: #fff;
                        display: flex;
                        align-items: center;
                        transition: color 0.3s ease;

                        a{
                            color: inherit;
                        }

                        &:first-child{
                            margin-left: 0;
                        }

                        &:last-child{
                            position: relative;

                            ol{
                                position: absolute;
                                top: 3rem;
                                right: 0;
                                width: 5rem;
                                padding: 1rem 0;
                                background-color: #000;
                                border: 0.15rem solid #212121;
                                border-radius: 0.5rem;
                                display: none;
                                
                                li{
                                    width: 100%;
                                    color: #b6b6b6;
                                    padding: 0;
                                    display: flex;
                                    justify-content: center;
                                    transition: color 0.3s ease;

                                    &:hover{
                                        color: #fff;
                                    }
                                }
                            }
                        }

                        &:hover{
                            color: #fff;
                        }

                        i{
                            font-size: 1.3rem;
                            margin-left: 1rem;
                        }
                    }
                }
            }
        }
    }
}

/*#endregion*/

/*#region Main Codes*/

main{
    min-height: 50vh;
    
    section#home{
        background-color: transparent;
        position: relative;
        height: 100vh;
        padding: 0;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        
        #home-slider{
            position: absolute;
            top: 0; left: 0;
            width: 100%;
            height: 100%;
            background-image: url(../img/home-slider-1.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: -1;
            transition: background-image 1.25s ease;
        }

        .container{
            padding-bottom: 7.5rem;
            
            #home-content{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                
                h1{
                    font-size: 7rem;
                    font-weight: 400;
                    color: #fff;
                    line-height: 7rem;
                    margin-bottom: 2.5rem;
                }

                a{
                    background-color: transparent;
                    border-radius: 3rem;
                    border: 0.3rem solid #fff;
                    outline: none;
                    padding: 1.6rem 3.25rem;
                    font-size: 1.5rem;
                    font-weight: 500;
                    color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition-property: background-color,color;
                    transition: 0.3s ease;

                    &:hover{
                        background-color: #fff;
                        color: #000;
                    }

                    i{
                        font-size: 1.8rem;
                        color: #000;
                        margin-left: 0.75rem;
                    }
                }
            }
        }
    }

    section#devices{
        padding: 12rem 0;

        .container{
            #devices-title{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 6rem;

                h2{
                    width: calc(95% - 35rem);
                    padding-right: 5%;
                    font-size: 4.2rem;
                    font-weight: 400;
                    color: #fff;
                    line-height: 4.8rem;
                }

                p{
                    width: calc(35rem + 5%);
                    padding: 1.5rem 0 1.5rem 5%;
                    font-size: 1.6rem;
                    font-weight: 400;
                    line-height: 1.6;
                    color: #b6b6b6;
                    border-left: 0.1rem solid rgba(255,255,255,0.2);
                }
            }

            #devices-content{
                width: 100%;
                height: 40rem;
                position: relative;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;

                #devices-slider{
                    width: 166.66%;
                    position: absolute;
                    top: 0;
                    left: 0%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    transition: left 0.75s ease;

                    .device{
                        width: 33.33%;
                        display: flex;
                        justify-content: center;

                        img{
                            width: 100%;
                            max-width: 30rem;
                        }
                    }
                }

                #devices-pagination{
                    span.fourth{
                        display: none;
                    }
                }

                #devices-pagination{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    span{
                        cursor: pointer;
                        margin: 0 0.75rem;
                        width: 1.5rem;
                        height: 1.5rem;
                        border-radius: 50%;
                        border: 0.125rem solid #fff;
                        transition: background-color 0.3s ease;

                        &:hover,&.active{
                            background-color: #fff;
                        }
                    }
                }
            }
        }
    }

    section#show{

        .show{
            position: relative;
            width: 100%;
            height: 50rem;
            padding-top: 5rem;

            img{
                position: absolute;
                top: 0; left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                transition: object-position 0.4s ease-out;
                z-index: 0;
            }

            .container{
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                *{
                    z-index: 1;
                    width: 50%;
                }

                h3{
                    font-size: 4.2rem;
                    font-weight: 400;
                    color: #fff;
                    margin-bottom: 2rem;
                }

                p{
                    font-size: 1.6rem;
                    font-weight: 400;
                    color: #b6b6b6;
                    line-height: 1.75;
                }
            }
        }
    }

    section#explore{
        padding: 12rem 0;

        .container{
            display: flex;
            justify-content: space-between;
            align-items: center;

            #explore-content{
                width: 35%;

                #explore-title{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    span{
                        font-size: 1.4rem;
                        font-weight: 400;
                        color: #b6b6b6;
                        margin-bottom: 0.5rem;
                    }
    
                    h2{
                        font-size: 4.2rem;
                        font-weight: 400;
                        color: #fff;
                        margin-bottom: 2rem;
                    }
    
                    p{
                        font-size: 1.6rem;
                        font-weight: 400;
                        color: #b6b6b6;
                        line-height: 1.75;
                    }
                }
            }

            #explore-image{
                width: 65%;
                display: flex;
                justify-content: flex-end;
                align-items: center;

                img{
                    width: calc(50% - 1.5rem);
                    max-width: 32rem;
                    border: 0.15rem solid #212121;
                    
                    &:last-child{
                        margin-left: 3rem;
                    }
                }
            }
        }
    }

    section#features{
        padding: 12rem 0;

        .container{

            #features-title{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                padding-bottom: 6rem;

                span{
                    font-size: 1.4rem;
                    font-weight: 400;
                    color: #b6b6b6;
                    margin-bottom: 0.5rem;
                }

                h2{
                    width: 100%;
                    font-size: 4.2rem;
                    font-weight: 400;
                    color: #fff;
                    margin-bottom: 2rem;
                }

                p{
                    width: 60%;
                    font-size: 1.6rem;
                    font-weight: 400;
                    color: #b6b6b6;
                    line-height: 1.75;
                }
            }

            #features-content{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .feature{
                    position: relative;
                    width: calc(25% - 1.5rem);
                    border: 0.15rem solid #212121;
                    height: 40rem;
                    overflow: hidden;
                    display: flex;
                    padding: 3rem 2rem;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: center;

                    &:hover{
                        
                        img{
                            transform: scale(1.05);
                        }

                        .feature-overlay{
                            opacity: 0.6;
                        }
                    }

                    img{
                        position: absolute;
                        top: 0; left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                        z-index: 0;
                        transition: transform 0.5s ease;
                    }

                    .feature-overlay{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: 1;
                        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.3) 75%);
                        transition: opacity 0.75s ease;
                    }

                    .feature-text{
                        width: 100%;
                        text-align: center;
                        z-index: 5;

                        h6{
                            font-size: 2.4rem;
                            font-weight: 400;
                            color: #fff;
                            line-height: 1.75;
                        }

                        p{
                            font-size: 1.4rem;
                            font-weight: 400;
                            color: #b6b6b6;
                        }
                    }
                }
            }
        }
    }
 
    section#contact{
        padding-top: 7.6rem;

        #contact-map{
            width: 100%;
            height: 40rem;
            background-color: #000;

            iframe{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .container{
            padding: 12rem 0 6rem 0;

            #contact-title{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                text-align: center;
                width: 60%;
                margin: 0 auto;
                padding-bottom: 2rem;

                h1{
                    font-size: 4.2rem;
                    font-weight: 400;
                    color: #fff;
                    line-height: 1.75;
                    margin-bottom: 1rem;
                }

                p{
                    width: 75%;
                    font-size: 1.6rem;
                    font-weight: 400;
                    color: #b6b6b6;
                    line-height: 1.75;
                    margin-bottom: 4.5rem;
                }
            }

            #contact-content{
                width: 100%;
                display: flex;
                flex-direction: column;

                ul{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    flex-wrap: wrap;

                    li{
                        width: 30%;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: center;
                        text-align: center;

                        &:nth-child(3){
                            width: 100%;
                            padding: 0 40%;
                            order: 4;
                            margin-top: 4rem;
                        }

                        h6{
                            font-size: 2.2rem;
                            font-weight: 400;
                            color: #fff;
                            margin-bottom: 1rem;
                        }

                        hr{
                            margin: 1.75rem 0;
                            width: 50%;
                            height: 0;
                            border-bottom: 0.125rem solid rgba(255,255,255,1);
                        }

                        a{
                            p{
                                font-size: 1.6rem;
                                font-weight: 400;
                                color: #b6b6b6;
                                transition: color 0.3s ease;
                            }

                            &:hover{
                                p{
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }

            #contact-instagram{
                padding: 12rem 0 6rem 0;

                #instagram-title{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    padding-bottom: 6rem;
                    
                    h3{
                        font-size: 4.2rem;
                        font-weight: 400;
                        color: #fff;
                        line-height: 1.75;
                    }

                    p{
                        font-size: 1.6rem;
                        font-weight: 400;
                        color: #b6b6b6;

                        a{
                            color: #b6b6b6;
                            transition: color 0.3s ease;

                            &:hover{
                                color: #fff;
                            }
                        }
                    }
                }

                #instagram-content{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .post{
                        position: relative;
                        cursor: pointer;
                        width: calc(25% - 1.5rem);
                        border: 0.15rem solid #212121;

                        &:hover{
                            .post-overlay{
                                opacity: 0.6;
                            }

                            a{
                                opacity: 1;
                            }
                        }

                        .post-overlay{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            z-index: 2;
                            background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.3) 75%);
                            transition: opacity 0.75s ease;
                        }

                        a{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            width: 75%;
                            max-width: 18rem;
                            transform: translate(-50%,-50%);
                            z-index: 3;
                            background-color: transparent;
                            border-radius: 3rem;
                            border: 0.3rem solid #fff;
                            outline: none;
                            padding: 1.6rem 0;
                            font-size: 1.3rem;
                            font-weight: 500;
                            color: #fff;
                            text-align: center;
                            opacity: 0;
                            transition-property: background-color,color,opacity;
                            transition: 0.5s ease;

                            &:hover{
                                background-color: #fff;
                                color: #000;
                            }
                            
                        }

                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: center;
                            z-index: 0;
                        }
                    }
                }
            }
        }
    }

    section#about{
        padding-top: 7.6rem;

        #about-title{
            width: 100%;
            height: 40rem;
            background-image: url(../img/about-bg.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            align-items: center;
            border-bottom: 0.2rem solid #212121;

            .container{
                display: flex;
                justify-content: center;

                h1{
                    font-size: 16rem;
                    font-weight: 400;
                    color: #fff;
                }
            }
        }

        #about-content{
            padding: 12rem 0;

            .container{

                #about-features{
                    width: 100%;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: flex-end;
                    padding-bottom: 6rem;

                    .about-feature{
                        width: 25%;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;

                        svg{
                            margin-bottom: 2rem;
                        }

                        h3{
                            font-size: 2.7rem;
                            font-weight: 400;
                            color: #fff;
                            line-height: 1.75;
                        }

                        p{
                            font-size: 1.6rem;
                            font-weight: 400;
                            color: #b6b6b6;
                            line-height: 1.75;
                        }
                    }
                }

                .about-text{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    text-align: center;
                    padding: 6rem 0;

                    h2{
                        max-width: 50rem;
                        font-size: 4.2rem;
                        font-weight: 400;
                        color: #fff;
                        line-height: 4.8rem;
                        margin-bottom: 1.5rem;
                    }

                    p{
                        max-width: 70rem;
                        font-size: 1.6rem;
                        font-weight: 400;
                        color: #b6b6b6;
                        line-height: 1.75;
                    }
                }
            }
        }

        #about-slide{
            position: relative;
            width: 200%;
            height: 14.5rem;
            background-color: rgba(255,255,255,1);
            margin-bottom: 12rem;
            overflow: hidden;

            span{
                display: inline-block;
                width: 400%;
                position: absolute;
                padding: 0 2.5%;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                font-size: 10rem;
                font-weight: 400;
                color: #000;

            }
        }
    }

    section#products{
        padding: 7.6rem 0 12rem 0;

        #products-title{
            width: 100%;
            height: 10rem;
            display: flex;
            align-items: center;
            border-bottom: 0.15rem solid #212121;

            .container{
                ul{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    li{
                        font-size: 1.25rem;
                        font-weight: 500;
                        color: #b6b6b6;
                        text-transform: uppercase;

                        
                        &:hover,&:last-child{
                            color: #fff;
                        }

                        a{
                            color: inherit;
                            transition: color 0.3s ease;
                        }
                    }

                    
                    span{
                        font-size: 1.2rem;
                        font-weight: 500;
                        color: #b6b6b6;
                        margin: 0 0.5rem;
                        line-height: 1.5;
                    }
                }
            }
        }

        .container{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;
    
            #products-navigation{
                width: 100%;
                padding: 6rem 0;

                ul{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    li{
                        margin: 0 1.25rem;

                        &:hover{
                            a{
                                color: #fff;
                            }
                        }

                        a{
                            position: relative;
                            font-size: 1.8rem;
                            font-weight: 400;
                            color: #b6b6b6;
                            transition: color 0.3s ease;

                            &.active{
                                color: #fff;

                                &::after{
                                    width: 100%;
                                }
                            }

                            &::after{
                                content: "";
                                display: block;
                                width: 0%;
                                height: 0.1rem;
                                background-color: #fff;
                                position: absolute;
                                bottom: -0.4rem;
                                left: 50%;
                                transform: translateX(-50%);
                                transition: background-color 0.3s ease;
                            }
                        }
                    }
                }
            }

            #products-content{
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-wrap: wrap;

                .product{
                    position: relative;
                    width: calc(25% - 1.5rem);
                    margin: 0 0.75rem 1.5rem 0.75rem;
                    border: 0.15rem solid #212121;
                    height: 40rem;
                    overflow: hidden;
                    display: flex;
                    padding: 3rem 2rem;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: center;

                    &:hover{
                        
                        img{
                            transform: scale(1.05);
                        }

                        .product-overlay{
                            opacity: 0.6;
                        }
                    }

                    img{
                        position: absolute;
                        top: 0; left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                        z-index: 0;
                        transition: transform 0.5s ease;
                    }

                    .product-overlay{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: 1;
                        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.3) 75%);
                        transition: opacity 0.75s ease;
                    }

                    .product-text{
                        width: 100%;
                        text-align: center;
                        z-index: 5;

                        h6{
                            font-size: 2.4rem;
                            font-weight: 400;
                            color: #fff;
                            line-height: 1.75;
                        }

                        a{
                            position: relative;
                            font-size: 1.3rem;
                            font-weight: 500;
                            color: #b6b6b6;
                            transition: color 0.3s ease;
                            
                            &:hover{
                                color: #fff;

                                &::after{
                                    background-color: #fff;
                                }
                            }   
                            
                            &::after{
                                content: "";
                                display: block;
                                width: 100%;
                                height: 0.1rem;
                                background-color: #b6b6b6;
                                position: absolute;
                                bottom: -0.15rem;
                                left: 0;
                                transition: background-color 0.3s ease;
                            }
                        }
                    }
                }
            }
        }
    }

    section#coming-soon{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        #coming-soon-background{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            z-index: -1;
            background-image: url(../img/cooming-soon-img.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center bottom;
            transition: transform 0.5s ease;
        }

        .container{
            display: flex;
            flex-direction: column;
            align-items: center;

            #coming-soon-title{

                h1{
                    font-size: 7rem;
                    font-weight: 400;
                    color: #FFF;
                    letter-spacing: 0.14rem;
                    margin-bottom: 4rem;
                    text-align: center;
                }
            }

            #coming-soon-timelapse{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                .timelapse{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    padding: 0 2rem;
                    width: 15%;

                    span{
                        font-size: 4.4rem;
                        font-weight: 400;
                        color: #FFF;
                        margin-bottom: 1rem;
                    }

                    p{
                        font-size: 1.8rem;
                        font-weight: 400;
                        color: #b6b6b6;   
                    }
                }
            }
        }
    }
}

/*#endregion*/

/*#region Footer Codes*/

footer{
    width: 100%;
    background-color: #000;
    padding: 12rem 0;
    border-top: 0.2rem solid #212121;

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;

        div{
            width: 20%;
        }

        #footer-business{
            width: 30%;

            img{
                max-width: 10rem;
                width: 50%;
                margin-bottom: 3rem;
            }

            p{
                font-size: 1.2rem;
                font-weight: 500;
                letter-spacing: 0.05rem;
                line-height: 1.75;
                color: #fff;
            }
        }

        #footer-address,#footer-overview,#footer-social{
            h6{
                font-size: 2.2rem;
                font-weight: 400;
                color: #fff;
                margin-bottom: 2rem;
            }

            ul{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                li{
                    cursor: pointer;
                    transition: transform 0.3s ease;

                    &:hover{
                        transform: translateX(1rem);

                        a{
                            color: #fff;
                        }
                    }

                    a{
                        font-size: 1.6rem;
                        font-weight: 400;
                        color: #b6b6b6;
                        line-height: 2.6rem;
                        transition: color 0.3s ease;
                    }
                }
            }
        }
    }
}

/*#endregion*/

/*#region Responsive Codes*/
@media screen and (max-width: 1690px){
    html{
        font-size: 11px;
    }
}
@media screen and (max-width: 1640px){
    html{
        font-size: 10.8px;
    }
}
@media screen and (max-width: 1590px){
    html{
        font-size: 10.6px;
    }
}
@media screen and (max-width: 1540px){
    html{
        font-size: 10.4px;
    }
}
@media screen and (max-width: 1490px){
    html{
        font-size: 10.2px;
    }
}
@media screen and (max-width: 1440px){
    html{
        font-size: 10px;
    }
}
@media screen and (max-width: 1390px){
    html{
        font-size: 9.75px;
    }
}
@media screen and (max-width: 1340px){
    html{
        font-size: 9.5px;
    }
}
@media screen and (max-width: 1290px){
    html{
        font-size: 9.25px;
    }
}
@media screen and (max-width: 1240px){
    html{
        font-size: 9px;
    }
}
@media screen and (max-width: 1190px){
    html{
        font-size: 8.75px;
    }
}
@media screen and (max-width: 1140px){
    html{
        font-size: 8.5px;
    }

    .container{
        width: 90%;
    }
}
@media screen and (max-width: 1090px){
    html{
        font-size: 8.25px;
    }
}
@media screen and (max-width: 1024px){
    html{
        font-size: 9px;
    }

    main{
        section#features{
            .container{
                #features-title{
                    p{
                        width: 75%;
                    }   
                }

                #features-content{
                    flex-wrap: wrap;

                    .feature{
                        width: calc(50% - 1.5rem);

                        &:first-child,&:nth-child(2){
                            margin-bottom: 3rem;
                        }
                    }
                }
            }
        }
        section#explore{
            padding-bottom: 0;

            .container{
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                #explore-content{
                    width: 100%;
                    margin-bottom: 4rem;
                }

                #explore-image{
                    width: 100%;
                    justify-content: space-between;

                    img{
                        width: calc(50% - 1.5rem);
                        max-width: initial;
                        margin-bottom: 4rem;
                        
                        &:last-child{
                            margin-left: 0;
                        }
                    }
                }
            }
        }
        section#products{
            .container{
                #products-content{
                    .product{
                        width: calc(33.333% - 1.5rem);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 974px){
    html{
        font-size: 8.8px;
    }
}
@media screen and (max-width: 924px){
    html{
        font-size: 8.6px;
    }
}
@media screen and (max-width: 874px){
    html{
        font-size: 8.4px;
    }
}
@media screen and (max-width: 824px){
    html{
        font-size: 8.2px;
    }
}
@media screen and (max-width: 768px){
    html{
        font-size: 8px;
    }

    .container{
        width: 90%;
    }

    main{

        section#devices{
            .container{
                #devices-title{
                    flex-direction: column;
                    align-items: flex-start;

                    h2{
                        width: 75%;
                    }

                    p{
                        width: 75%;
                        padding-left: 0;
                        border: none;
                    }
                }
            }
        }

        section#show{
            .show{
                .container{
                    *{
                        width: 75%;
                    }
                }
            }
        }

        section#about{
            #about-content{
                .container{
                    #about-features{
                        flex-direction: column;

                        .about-feature{
                            width: 100%;
                            align-items: center;
                            margin-bottom: 6rem;
                            text-align: center;

                            p{
                                max-width: 40rem;
                            }
                        }
                    }
                }
            }
        }
        
        section#products{
            .container{
                #products-content{
                    .product{
                        width: calc(50% - 1.5rem);
                    }
                }
            }
        }

        section#coming-soon{
            .container{
                #coming-soon-timelapse{
                    .timelapse{
                        width: 20%;
                    }
                }
            }
        }
    }

    footer{
        padding: 6rem 0;

        .container{
            flex-wrap: wrap;

            div{
                width: 33.33%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            #footer-business{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 5rem;
            }

            #footer-address,#footer-overview,#footer-social{
                ul{
                    align-items: center;
                }
            }
        }
    }
}
@media screen and (max-width: 718px){
    html{
        font-size: 7.8px;
    }
}
@media screen and (max-width: 668px){
    html{
        font-size: 7.6px;
    }
}
@media screen and (max-width: 618px){
    html{
        font-size: 7.4px;
    }
}
@media screen and (max-width: 568px){
    html{
        font-size: 7.2px;
    }
}
@media screen and (max-width: 518px){
    html{
        font-size: 7px;
    }
}
@media screen and (max-width: 468px){
    html{
        font-size: 10px;
    }

    header{
        display: flex;
        align-items: center;

        .container{
            flex-wrap: wrap;

            #header-mobile{
                display: block;
            }

            #header-menu{
                width: 100%;
                display: none;
                margin-top: 1.5rem;

                nav{
                    ul{
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-end;

                        li{
                            padding: 1rem 0;

                            &:last-child{

                                i{
                                    transform: rotate(90deg);
                                }

                                ol{
                                    top: 0;
                                    left: -6rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    main{

        section#home{
            .container{
                #home-content{
                    h1{
                        line-height: normal;
                        font-size: 4.2rem;
                    }
                }
            }
        }

        section#devices{
            .container{
                #devices-title{
                    h2,p{
                        width: 100%;
                    }
                }

                #devices-content{
                    height: 30rem;

                    #devices-slider{
                        width: 250%;

                        .device{
                            width: 50%;
                        }
                    }

                    #devices-pagination{
                        span.fourth{
                            display: inline-block;
                        }
                    }
                }
            }
        }

        section#show{
            .show{
                .container{
                    *{
                        width: 100%;
                    }

                    h3{
                        font-size: 3rem;

                    }
                }
            }
        }

        section#explore{
            padding-bottom: 0;

            .container{
                flex-direction: column;
                justify-content: flex-start;

                #explore-content{
                    width: 100%;
                    margin-bottom: 4rem;
                }

                #explore-image{
                    width: 100%;
                    flex-direction: column;
                    justify-content: flex-start;

                    img{
                        width: 100%;
                        max-width: initial;
                        margin-bottom: 4rem;
                        
                        &:last-child{
                            margin-left: 0;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }

        section#features{
            .container{
                #features-title{
                    p{
                        width: 100%;
                    }   
                }

                #features-content{
                    .feature{
                        width: 100%;
                    }
                }
            }
        }

        section#contact{
            .container{
                #contact-title{
                    width: 100%;
                }
                #contact-content{
                    ul{
                        flex-direction: column;
                        align-items: center;

                        li{
                            width: 100%;
                            max-width: 25rem;
                            margin-bottom: 4rem;

                            &:last-child{
                                margin-bottom: 0;
                            }

                            &:nth-child(3){
                                order: initial;
                                padding: 0;
                                margin-top: 0;
                            }
                        }
                    }
                }
                #contact-instagram{
                    #instagram-content{
                        flex-wrap: wrap;

                        .post{
                            width: calc(50% - 0.5rem);
                            margin-bottom: 1rem;
                        }
                    }
                }
            }
        }

        section#about{
            #about-title{
                .container{
                    h1{
                        font-size: 6rem;
                    }
                }
            }
        }

        section#products{
            .container{
                #products-navigation{
                    ul{
                        flex-wrap: wrap;

                        li{
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            margin-bottom: 2rem;

                            &:last-child{
                                margin-bottom: 0;
                            }
                        }
                    }
                }
                #products-content{
                    .product{
                        width: 100%;
                        margin-bottom: 2rem;
                    }
                }
            }
        }

        section#coming-soon{
            #coming-soon-background{
                height: 80vh;
            }

            .container{
                #coming-soon-timelapse{
                    flex-wrap: wrap;

                    .timelapse{
                        width: 35%;
                        margin-bottom: 3rem;

                        &:nth-child(3),&:nth-child(4){
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }

    footer{
        .container{
            flex-wrap: wrap;

            div{
                width: 100%;
                margin-bottom: 4rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
}
@media screen and (max-width: 425px){
    html{
        font-size: 9.75px;
    }
}
@media screen and (max-width: 400px){
    html{
        font-size: 9.5px;
    }
}
@media screen and (max-width: 375px){
    html{
        font-size: 9.25px;
    }
}
@media screen and (max-width: 350px){
    html{
        font-size: 9px;
    }
}
@media screen and (max-width: 325px){
    html{
        font-size: 8.75px;
    }
}


/*#endregion*/