* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

.container {
  width: 120rem;
  margin: 0 auto;
}

section {
  width: 100%;
  background-color: #000;
  overflow-x: hidden;
}

/*#region Header Codes*/
header {
  width: 100%;
  height: 7rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  border-bottom: 0.2rem solid transparent;
  transition-property: background-color, border-color;
  transition: 0.5s ease;
}
header.scroll {
  background-color: #000;
  border-color: #212121;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container #header-logo {
  flex-shrink: 0;
}
header .container #header-logo img {
  width: auto;
  height: 3rem;
}
header .container #header-menu {
  width: 100%;
}
header .container #header-menu nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .container #header-menu nav ul:hover li {
  color: #b6b6b6;
}
header .container #header-menu nav ul li {
  cursor: pointer;
  margin-left: 3rem;
  padding: 2.5rem 0;
  font-size: 1.7rem;
  font-weight: 400;
  color: #fff;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
}
header .container #header-menu nav ul li:first-child {
  margin-left: 0;
}
header .container #header-menu nav ul li:last-child {
  position: relative;
}
header .container #header-menu nav ul li:last-child ol {
  position: absolute;
  top: 6rem;
  right: 0;
  width: 5rem;
  padding: 1rem 0;
  background-color: #000;
  border: 0.15rem solid #212121;
  border-radius: 0.5rem;
  display: none;
}
header .container #header-menu nav ul li:last-child ol li {
  width: 100%;
  color: #b6b6b6;
  padding: 0;
  display: flex;
  justify-content: center;
  transition: color 0.3s ease;
}
header .container #header-menu nav ul li:last-child ol li:hover {
  color: #fff;
}
header .container #header-menu nav ul li:hover {
  color: #fff;
}
header .container #header-menu nav ul li a {
  color: inherit;
}
header .container #header-menu nav ul li i {
  font-size: 1.3rem;
  margin-left: 1rem;
}

/*#endregion*/
/*#region Main Codes*/
main #background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/presentation-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}
main section#home {
  background-color: transparent;
  position: relative;
  height: 100vh;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
main section#home #home-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/home-slider-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  transition: background-image 1.25s ease;
}
main section#home .container {
  padding-bottom: 7.5rem;
}
main section#home .container #home-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
main section#home .container #home-content h1 {
  font-size: 7rem;
  font-weight: 400;
  color: #fff;
  line-height: 7rem;
  margin-bottom: 2.5rem;
}
main section#home .container #home-content a {
  background-color: transparent;
  border-radius: 3rem;
  border: 0.3rem solid #fff;
  outline: none;
  padding: 1.6rem 3.25rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color, color;
  transition: 0.3s ease;
}
main section#home .container #home-content a:hover {
  background-color: #fff;
  color: #000;
}
main section#home .container #home-content a i {
  font-size: 1.8rem;
  color: #000;
  margin-left: 0.75rem;
}
main section#products {
  padding: 12rem 0;
}
main section#products .container #products-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 6rem;
}
main section#products .container #products-title h2 {
  width: calc(95% - 35rem);
  font-size: 4.2rem;
  font-weight: 400;
  color: #fff;
  line-height: 4.8rem;
}
main section#products .container #products-title p {
  width: calc(35rem + 5%);
  padding: 1.5rem 0 1.5rem 5%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  color: #b6b6b6;
  border-left: 0.1rem solid rgba(255, 255, 255, 0.2);
}
main section#products .container #products-content {
  width: 100%;
  height: 40rem;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
main section#products .container #products-content #products-slider {
  width: 166.66%;
  position: absolute;
  top: 0;
  left: -33%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: left 0.75s ease;
}
main section#products .container #products-content #products-slider .product {
  width: 33.33%;
  display: flex;
  justify-content: center;
}
main section#products .container #products-content #products-slider .product img {
  width: 100%;
  max-width: 30rem;
}
main section#products .container #products-content #products-pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section#products .container #products-content #products-pagination span {
  cursor: pointer;
  margin: 0 0.75rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 0.125rem solid #fff;
  transition: background-color 0.3s ease;
}
main section#products .container #products-content #products-pagination span:hover, main section#products .container #products-content #products-pagination span.active {
  background-color: #fff;
}
main section#show .show {
  position: relative;
  width: 100%;
  height: 50rem;
  padding-top: 5rem;
}
main section#show .show img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transition: object-position 0.4s ease-out;
  transition: object-position 0.4s ease-out, -o-object-position 0.4s ease-out;
  z-index: 0;
}
main section#show .show .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
main section#show .show .container * {
  z-index: 1;
  width: 50%;
}
main section#show .show .container h3 {
  font-size: 4.2rem;
  font-weight: 400;
  color: #fff;
  margin-bottom: 2rem;
}
main section#show .show .container p {
  font-size: 1.6rem;
  font-weight: 400;
  color: #b6b6b6;
  line-height: 1.75;
}
main section#explore {
  padding: 12rem 0;
}
main section#explore .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main section#explore .container #explore-content {
  width: 35%;
}
main section#explore .container #explore-content #explore-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
main section#explore .container #explore-content #explore-title span {
  font-size: 1.4rem;
  font-weight: 400;
  color: #b6b6b6;
  margin-bottom: 0.5rem;
}
main section#explore .container #explore-content #explore-title h2 {
  font-size: 4.2rem;
  font-weight: 400;
  color: #fff;
  margin-bottom: 2rem;
}
main section#explore .container #explore-content #explore-title p {
  font-size: 1.6rem;
  font-weight: 400;
  color: #b6b6b6;
  line-height: 1.75;
}
main section#explore .container #explore-image {
  width: 65%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
main section#explore .container #explore-image img {
  width: calc(50% - 1.5rem);
  max-width: 32rem;
  border: 0.15rem solid #212121;
}
main section#explore .container #explore-image img:last-child {
  margin-left: 3rem;
}
main section#features {
  padding: 12rem 0 6rem 0;
}
main section#features .container #features-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 6rem;
}
main section#features .container #features-title span {
  font-size: 1.4rem;
  font-weight: 400;
  color: #b6b6b6;
  margin-bottom: 0.5rem;
}
main section#features .container #features-title h2 {
  width: 100%;
  font-size: 4.2rem;
  font-weight: 400;
  color: #fff;
  margin-bottom: 2rem;
}
main section#features .container #features-title p {
  width: 60%;
  font-size: 1.6rem;
  font-weight: 400;
  color: #b6b6b6;
  line-height: 1.75;
}
main section#features .container #features-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main section#features .container #features-content .feature {
  position: relative;
  width: calc(25% - 1.5rem);
  border: 0.15rem solid #212121;
  height: 40rem;
  overflow: hidden;
  display: flex;
  padding: 3rem 2rem;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
main section#features .container #features-content .feature:hover img {
  transform: scale(1.05);
}
main section#features .container #features-content .feature:hover .feature-overlay {
  opacity: 0.6;
}
main section#features .container #features-content .feature img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: 0;
  transition: transform 0.5s ease;
}
main section#features .container #features-content .feature .feature-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 75%);
  transition: opacity 0.75s ease;
}
main section#features .container #features-content .feature .feature-text {
  width: 100%;
  text-align: center;
  z-index: 5;
}
main section#features .container #features-content .feature .feature-text h6 {
  font-size: 2.4rem;
  font-weight: 400;
  color: #fff;
}
main section#features .container #features-content .feature .feature-text p {
  font-size: 1.4rem;
  font-weight: 400;
  color: #b6b6b6;
}
main section#contact {
  background: linear-gradient(0deg, rgb(0, 0, 0) -10%, rgba(255, 255, 255, 0) 50%, rgb(0, 0, 0) 110%);
  padding: 12rem 0;
}
main section#contact .container #contact-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  width: 60%;
  margin: 0 auto;
  padding-bottom: 2rem;
}
main section#contact .container #contact-title h2 {
  font-size: 4.2rem;
  font-weight: 400;
  color: #fff;
  line-height: 1.75;
  margin-bottom: 1rem;
}
main section#contact .container #contact-title p {
  width: 75%;
  font-size: 1.6rem;
  font-weight: 400;
  color: #b6b6b6;
  line-height: 1.75;
  margin-bottom: 4.5rem;
}
main section#contact .container #contact-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}
main section#contact .container #contact-content ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
main section#contact .container #contact-content ul li {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
main section#contact .container #contact-content ul li h6 {
  font-size: 2.2rem;
  font-weight: 400;
  color: #fff;
  margin-bottom: 1rem;
}
main section#contact .container #contact-content ul li a p {
  font-size: 1.6rem;
  font-weight: 400;
  color: #b6b6b6;
  transition: color 0.3s ease;
}
main section#contact .container #contact-content ul li a:hover p {
  color: #fff;
}
main section#coming-soon {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section#coming-soon #coming-soon-background {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background-image: url(../img/cooming-soon-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  transition: transform 0.5s ease;
}
main section#coming-soon .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section#coming-soon .container #coming-soon-title h1 {
  font-size: 7rem;
  font-weight: 400;
  color: #FFF;
  letter-spacing: 0.14rem;
  margin-bottom: 4rem;
  text-align: center;
}
main section#coming-soon .container #coming-soon-timelapse {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section#coming-soon .container #coming-soon-timelapse .timelapse {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 2rem;
  width: 15%;
}
main section#coming-soon .container #coming-soon-timelapse .timelapse span {
  font-size: 4.4rem;
  font-weight: 400;
  color: #FFF;
  margin-bottom: 1rem;
}
main section#coming-soon .container #coming-soon-timelapse .timelapse p {
  font-size: 1.8rem;
  font-weight: 400;
  color: #b6b6b6;
}

/*#endregion*/
/*#region Footer Codes*/
footer {
  width: 100%;
  background-color: #000;
  padding: 12rem 0;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .container div {
  width: 20%;
}
footer .container #footer-business {
  width: 30%;
}
footer .container #footer-business img {
  max-width: 10rem;
  width: 50%;
  margin-bottom: 3rem;
}
footer .container #footer-business p {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  line-height: 1.75;
  color: #fff;
}
footer .container #footer-business p span {
  font-weight: 300;
  color: #b6b6b6;
}
footer .container #footer-business p span a {
  color: #b6b6b6;
  transition: color 0.3s ease;
}
footer .container #footer-business p span a:hover {
  color: #fff;
  font-weight: 500;
}
footer .container #footer-address h6, footer .container #footer-about h6, footer .container #footer-social h6 {
  font-size: 2.2rem;
  font-weight: 400;
  color: #fff;
  margin-bottom: 2rem;
}
footer .container #footer-address ul, footer .container #footer-about ul, footer .container #footer-social ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
footer .container #footer-address ul li, footer .container #footer-about ul li, footer .container #footer-social ul li {
  cursor: pointer;
  transition: transform 0.3s ease;
}
footer .container #footer-address ul li:hover, footer .container #footer-about ul li:hover, footer .container #footer-social ul li:hover {
  transform: translateX(1rem);
}
footer .container #footer-address ul li:hover a, footer .container #footer-about ul li:hover a, footer .container #footer-social ul li:hover a {
  color: #fff;
}
footer .container #footer-address ul li a, footer .container #footer-about ul li a, footer .container #footer-social ul li a {
  font-size: 1.6rem;
  font-weight: 400;
  color: #b6b6b6;
  line-height: 2.6rem;
  transition: color 0.3s ease;
}

/*#endregion*/
/*#region Responsive Codes*/
@media screen and (max-width: 1390px) {
  html {
    font-size: 9.8px;
  }
}
@media screen and (max-width: 1340px) {
  html {
    font-size: 9.6px;
  }
}
@media screen and (max-width: 1290px) {
  html {
    font-size: 9.4px;
  }
}
@media screen and (max-width: 1240px) {
  html {
    font-size: 9.2px;
  }
}
@media screen and (max-width: 1190px) {
  html {
    font-size: 9px;
  }
}
@media screen and (max-width: 1140px) {
  html {
    font-size: 8.8px;
  }
}
@media screen and (max-width: 1090px) {
  html {
    font-size: 8.6px;
  }
}
@media screen and (max-width: 1024px) {
  html {
    font-size: 9px;
  }
}
@media screen and (max-width: 974px) {
  html {
    font-size: 8.8px;
  }
}
@media screen and (max-width: 924px) {
  html {
    font-size: 8.6px;
  }
}
@media screen and (max-width: 874px) {
  html {
    font-size: 8.4px;
  }
}
@media screen and (max-width: 824px) {
  html {
    font-size: 8.2px;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 8px;
  }
  .container {
    width: 90%;
  }
  main section#coming-soon .container #coming-soon-timelapse .timelapse {
    width: 20%;
  }
}
@media screen and (max-width: 718px) {
  html {
    font-size: 7.8px;
  }
}
@media screen and (max-width: 668px) {
  html {
    font-size: 7.6px;
  }
}
@media screen and (max-width: 618px) {
  html {
    font-size: 7.4px;
  }
}
@media screen and (max-width: 568px) {
  html {
    font-size: 7.2px;
  }
}
@media screen and (max-width: 518px) {
  html {
    font-size: 7px;
  }
}
@media screen and (max-width: 468px) {
  html {
    font-size: 10px;
  }
  main section#coming-soon #coming-soon-background {
    height: 80vh;
  }
  main section#coming-soon .container #coming-soon-timelapse {
    flex-wrap: wrap;
  }
  main section#coming-soon .container #coming-soon-timelapse .timelapse {
    width: 35%;
    margin-bottom: 3rem;
  }
  main section#coming-soon .container #coming-soon-timelapse .timelapse:nth-child(3), main section#coming-soon .container #coming-soon-timelapse .timelapse:nth-child(4) {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 425px) {
  html {
    font-size: 9.75px;
  }
}
@media screen and (max-width: 400px) {
  html {
    font-size: 9.5px;
  }
}
@media screen and (max-width: 375px) {
  html {
    font-size: 9.25px;
  }
}
@media screen and (max-width: 350px) {
  html {
    font-size: 9px;
  }
}
@media screen and (max-width: 325px) {
  html {
    font-size: 8.75px;
  }
}
/*#endregion*//*# sourceMappingURL=style.css.map */