* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 11.2px;
  scroll-behavior: smooth;
}

body {
  background-color: #000;
}
body::-webkit-scrollbar {
  width: 1.2rem;
}
body::-webkit-scrollbar-track {
  background-color: #000;
}
body::-webkit-scrollbar-thumb {
  background-color: #212121;
}

.container {
  width: 120rem;
  margin: 0 auto;
}

section {
  width: 100%;
  background-color: #000;
  overflow-x: hidden;
}

/*#region Header Codes*/
header {
  width: 100%;
  padding: 2rem 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  border-bottom: 0.2rem solid transparent;
  transition-property: background-color, border-color;
  transition: 0.5s ease;
}
header.scroll {
  background-color: #000;
  border-color: #212121;
}
header a#header-top {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #fff;
  border: 0.25rem solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  opacity: 0;
  transition-property: background-color, opacity;
  transition: 0.3s ease;
}
header a#header-top:hover {
  background-color: transparent;
}
header a#header-top:hover i {
  color: #fff;
}
header a#header-top.active {
  z-index: 300;
  opacity: 1;
}
header a#header-top i {
  font-size: 1.7rem;
  color: #000;
  transition: color 0.3s ease;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container #header-logo {
  flex-shrink: 0;
}
header .container #header-logo img {
  width: auto;
  height: 3rem;
}
header .container #header-mobile {
  display: none;
}
header .container #header-mobile i {
  font-size: 2.5rem;
  color: #fff;
}
header .container #header-menu {
  width: 100%;
}
header .container #header-menu nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .container #header-menu nav ul:hover li {
  color: #b6b6b6;
}
header .container #header-menu nav ul li {
  cursor: pointer;
  margin-left: 3rem;
  font-size: 1.7rem;
  font-weight: 400;
  color: #fff;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
}
header .container #header-menu nav ul li a {
  color: inherit;
}
header .container #header-menu nav ul li:first-child {
  margin-left: 0;
}
header .container #header-menu nav ul li:last-child {
  position: relative;
}
header .container #header-menu nav ul li:last-child ol {
  position: absolute;
  top: 3rem;
  right: 0;
  width: 5rem;
  padding: 1rem 0;
  background-color: #000;
  border: 0.15rem solid #212121;
  border-radius: 0.5rem;
  display: none;
}
header .container #header-menu nav ul li:last-child ol li {
  width: 100%;
  color: #b6b6b6;
  padding: 0;
  display: flex;
  justify-content: center;
  transition: color 0.3s ease;
}
header .container #header-menu nav ul li:last-child ol li:hover {
  color: #fff;
}
header .container #header-menu nav ul li:hover {
  color: #fff;
}
header .container #header-menu nav ul li i {
  font-size: 1.3rem;
  margin-left: 1rem;
}

/*#endregion*/
/*#region Main Codes*/
main {
  min-height: 50vh;
}
main section#home {
  background-color: transparent;
  position: relative;
  height: 100vh;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
main section#home #home-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/home-slider-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  transition: background-image 1.25s ease;
}
main section#home .container {
  padding-bottom: 7.5rem;
}
main section#home .container #home-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
main section#home .container #home-content h1 {
  font-size: 7rem;
  font-weight: 400;
  color: #fff;
  line-height: 7rem;
  margin-bottom: 2.5rem;
}
main section#home .container #home-content a {
  background-color: transparent;
  border-radius: 3rem;
  border: 0.3rem solid #fff;
  outline: none;
  padding: 1.6rem 3.25rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color, color;
  transition: 0.3s ease;
}
main section#home .container #home-content a:hover {
  background-color: #fff;
  color: #000;
}
main section#home .container #home-content a i {
  font-size: 1.8rem;
  color: #000;
  margin-left: 0.75rem;
}
main section#devices {
  padding: 12rem 0;
}
main section#devices .container #devices-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 6rem;
}
main section#devices .container #devices-title h2 {
  width: calc(95% - 35rem);
  padding-right: 5%;
  font-size: 4.2rem;
  font-weight: 400;
  color: #fff;
  line-height: 4.8rem;
}
main section#devices .container #devices-title p {
  width: calc(35rem + 5%);
  padding: 1.5rem 0 1.5rem 5%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  color: #b6b6b6;
  border-left: 0.1rem solid rgba(255, 255, 255, 0.2);
}
main section#devices .container #devices-content {
  width: 100%;
  height: 40rem;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
main section#devices .container #devices-content #devices-slider {
  width: 166.66%;
  position: absolute;
  top: 0;
  left: 0%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: left 0.75s ease;
}
main section#devices .container #devices-content #devices-slider .device {
  width: 33.33%;
  display: flex;
  justify-content: center;
}
main section#devices .container #devices-content #devices-slider .device img {
  width: 100%;
  max-width: 30rem;
}
main section#devices .container #devices-content #devices-pagination span.fourth {
  display: none;
}
main section#devices .container #devices-content #devices-pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section#devices .container #devices-content #devices-pagination span {
  cursor: pointer;
  margin: 0 0.75rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 0.125rem solid #fff;
  transition: background-color 0.3s ease;
}
main section#devices .container #devices-content #devices-pagination span:hover, main section#devices .container #devices-content #devices-pagination span.active {
  background-color: #fff;
}
main section#show .show {
  position: relative;
  width: 100%;
  height: 50rem;
  padding-top: 5rem;
}
main section#show .show img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transition: object-position 0.4s ease-out;
  transition: object-position 0.4s ease-out, -o-object-position 0.4s ease-out;
  z-index: 0;
}
main section#show .show .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
main section#show .show .container * {
  z-index: 1;
  width: 50%;
}
main section#show .show .container h3 {
  font-size: 4.2rem;
  font-weight: 400;
  color: #fff;
  margin-bottom: 2rem;
}
main section#show .show .container p {
  font-size: 1.6rem;
  font-weight: 400;
  color: #b6b6b6;
  line-height: 1.75;
}
main section#explore {
  padding: 12rem 0;
}
main section#explore .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main section#explore .container #explore-content {
  width: 35%;
}
main section#explore .container #explore-content #explore-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
main section#explore .container #explore-content #explore-title span {
  font-size: 1.4rem;
  font-weight: 400;
  color: #b6b6b6;
  margin-bottom: 0.5rem;
}
main section#explore .container #explore-content #explore-title h2 {
  font-size: 4.2rem;
  font-weight: 400;
  color: #fff;
  margin-bottom: 2rem;
}
main section#explore .container #explore-content #explore-title p {
  font-size: 1.6rem;
  font-weight: 400;
  color: #b6b6b6;
  line-height: 1.75;
}
main section#explore .container #explore-image {
  width: 65%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
main section#explore .container #explore-image img {
  width: calc(50% - 1.5rem);
  max-width: 32rem;
}
main section#explore .container #explore-image img:last-child {
  margin-left: 3rem;
}
main section#features {
  padding: 12rem 0;
}
main section#features .container #features-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 6rem;
}
main section#features .container #features-title span {
  font-size: 1.4rem;
  font-weight: 400;
  color: #b6b6b6;
  margin-bottom: 0.5rem;
}
main section#features .container #features-title h2 {
  width: 100%;
  font-size: 4.2rem;
  font-weight: 400;
  color: #fff;
  margin-bottom: 2rem;
}
main section#features .container #features-title p {
  width: 60%;
  font-size: 1.6rem;
  font-weight: 400;
  color: #b6b6b6;
  line-height: 1.75;
}
main section#features .container #features-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main section#features .container #features-content .feature {
  position: relative;
  width: calc(25% - 1.5rem);
  border: 0.15rem solid #212121;
  height: 40rem;
  overflow: hidden;
  display: flex;
  padding: 3rem 2rem;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
main section#features .container #features-content .feature:hover img {
  transform: scale(1.05);
}
main section#features .container #features-content .feature:hover .feature-overlay {
  opacity: 0.6;
}
main section#features .container #features-content .feature img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: 0;
  transition: transform 0.5s ease;
}
main section#features .container #features-content .feature .feature-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 75%);
  transition: opacity 0.75s ease;
}
main section#features .container #features-content .feature .feature-text {
  width: 100%;
  text-align: center;
  z-index: 5;
}
main section#features .container #features-content .feature .feature-text h6 {
  font-size: 2.4rem;
  font-weight: 400;
  color: #fff;
  line-height: 1.75;
}
main section#features .container #features-content .feature .feature-text p {
  font-size: 1.4rem;
  font-weight: 400;
  color: #b6b6b6;
}
main section#contact {
  padding-top: 7.6rem;
}
main section#contact #contact-map {
  width: 100%;
  height: 40rem;
  background-color: #000;
}
main section#contact #contact-map iframe {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main section#contact .container {
  padding: 12rem 0 6rem 0;
}
main section#contact .container #contact-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  width: 60%;
  margin: 0 auto;
  padding-bottom: 2rem;
}
main section#contact .container #contact-title h1 {
  font-size: 4.2rem;
  font-weight: 400;
  color: #fff;
  line-height: 1.75;
  margin-bottom: 1rem;
}
main section#contact .container #contact-title p {
  width: 75%;
  font-size: 1.6rem;
  font-weight: 400;
  color: #b6b6b6;
  line-height: 1.75;
  margin-bottom: 4.5rem;
}
main section#contact .container #contact-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}
main section#contact .container #contact-content ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
main section#contact .container #contact-content ul li {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
main section#contact .container #contact-content ul li h6 {
  font-size: 2.2rem;
  font-weight: 400;
  color: #fff;
  margin-bottom: 1rem;
}
main section#contact .container #contact-content ul li hr {
  margin: 1.75rem 0;
  width: 50%;
  height: 0;
  border-bottom: 0.125rem solid rgb(255, 255, 255);
}
main section#contact .container #contact-content ul li a p {
  font-size: 1.6rem;
  font-weight: 400;
  color: #b6b6b6;
  transition: color 0.3s ease;
}
main section#contact .container #contact-content ul li a:hover p {
  color: #fff;
}
main section#contact .container #contact-instagram {
  padding: 12rem 0 6rem 0;
}
main section#contact .container #contact-instagram #instagram-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 6rem;
}
main section#contact .container #contact-instagram #instagram-title h3 {
  font-size: 4.2rem;
  font-weight: 400;
  color: #fff;
  line-height: 1.75;
}
main section#contact .container #contact-instagram #instagram-title p {
  font-size: 1.6rem;
  font-weight: 400;
  color: #b6b6b6;
}
main section#contact .container #contact-instagram #instagram-title p a {
  color: #b6b6b6;
  transition: color 0.3s ease;
}
main section#contact .container #contact-instagram #instagram-title p a:hover {
  color: #fff;
}
main section#contact .container #contact-instagram #instagram-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main section#contact .container #contact-instagram #instagram-content .post {
  position: relative;
  cursor: pointer;
  width: calc(25% - 1.5rem);
  border: 0.15rem solid #212121;
}
main section#contact .container #contact-instagram #instagram-content .post:hover .post-overlay {
  opacity: 0.6;
}
main section#contact .container #contact-instagram #instagram-content .post:hover a {
  opacity: 1;
}
main section#contact .container #contact-instagram #instagram-content .post .post-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 75%);
  transition: opacity 0.75s ease;
}
main section#contact .container #contact-instagram #instagram-content .post a {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 75%;
  max-width: 18rem;
  transform: translate(-50%, -50%);
  z-index: 3;
  background-color: transparent;
  border-radius: 3rem;
  border: 0.3rem solid #fff;
  outline: none;
  padding: 1.6rem 0;
  font-size: 1.3rem;
  font-weight: 500;
  color: #fff;
  text-align: center;
  opacity: 0;
  transition-property: background-color, color, opacity;
  transition: 0.5s ease;
}
main section#contact .container #contact-instagram #instagram-content .post a:hover {
  background-color: #fff;
  color: #000;
}
main section#contact .container #contact-instagram #instagram-content .post img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: 0;
}
main section#about {
  padding-top: 7.6rem;
}
main section#about #about-title {
  width: 100%;
  height: 40rem;
  background-image: url(../img/about-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  border-bottom: 0.2rem solid #212121;
}
main section#about #about-title .container {
  display: flex;
  justify-content: center;
}
main section#about #about-title .container h1 {
  font-size: 16rem;
  font-weight: 400;
  color: #fff;
}
main section#about #about-content {
  padding: 12rem 0;
}
main section#about #about-content .container #about-features {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  padding-bottom: 6rem;
}
main section#about #about-content .container #about-features .about-feature {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
main section#about #about-content .container #about-features .about-feature svg {
  margin-bottom: 2rem;
}
main section#about #about-content .container #about-features .about-feature h3 {
  font-size: 2.7rem;
  font-weight: 400;
  color: #fff;
  line-height: 1.75;
}
main section#about #about-content .container #about-features .about-feature p {
  font-size: 1.6rem;
  font-weight: 400;
  color: #b6b6b6;
  line-height: 1.75;
}
main section#about #about-content .container .about-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding: 6rem 0;
}
main section#about #about-content .container .about-text h2 {
  max-width: 50rem;
  font-size: 4.2rem;
  font-weight: 400;
  color: #fff;
  line-height: 4.8rem;
  margin-bottom: 1.5rem;
}
main section#about #about-content .container .about-text p {
  max-width: 70rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: #b6b6b6;
  line-height: 1.75;
}
main section#about #about-slide {
  position: relative;
  width: 200%;
  height: 14.5rem;
  background-color: rgb(255, 255, 255);
  margin-bottom: 12rem;
  overflow: hidden;
}
main section#about #about-slide span {
  display: inline-block;
  width: 400%;
  position: absolute;
  padding: 0 2.5%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 10rem;
  font-weight: 400;
  color: #000;
}
main #main-breadcrumb {
  width: 100%;
  height: 10rem;
  display: flex;
  align-items: center;
  border-bottom: 0.15rem solid #212121;
}
main #main-breadcrumb .container {
  padding-top: 0 !important;
}
main #main-breadcrumb .container ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
main #main-breadcrumb .container ul li {
  font-size: 1.25rem;
  font-weight: 500;
  color: #b6b6b6;
  text-transform: uppercase;
}
main #main-breadcrumb .container ul li:hover, main #main-breadcrumb .container ul li:last-child {
  color: #fff;
}
main #main-breadcrumb .container ul li a {
  color: inherit;
  transition: color 0.3s ease;
}
main #main-breadcrumb .container ul span {
  font-size: 1.2rem;
  font-weight: 500;
  color: #b6b6b6;
  margin: 0 0.5rem;
  line-height: 1.5;
}
main section#products {
  padding: 7.6rem 0 12rem 0;
}
main section#products .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
main section#products .container #products-navigation {
  width: 100%;
  padding: 12rem 0 6rem 0;
}
main section#products .container #products-navigation ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section#products .container #products-navigation ul li {
  margin: 0 1.25rem;
}
main section#products .container #products-navigation ul li:hover a {
  color: #fff;
}
main section#products .container #products-navigation ul li.active a {
  color: #fff;
}
main section#products .container #products-navigation ul li.active a::after {
  width: 100%;
}
main section#products .container #products-navigation ul li a {
  position: relative;
  font-size: 1.8rem;
  font-weight: 400;
  color: #b6b6b6;
  transition: color 0.3s ease;
}
main section#products .container #products-navigation ul li a::after {
  content: "";
  display: block;
  width: 0%;
  height: 0.1rem;
  background-color: #fff;
  position: absolute;
  bottom: -0.4rem;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s ease;
}
main section#products .container #products-content {
  width: 100%;
}
main section#products .container #products-content .products-category {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  display: none;
}
main section#products .container #products-content .product {
  position: relative;
  width: calc(25% - 1.5rem);
  margin: 0 0.75rem 1.5rem 0.75rem;
  border: 0.15rem solid #212121;
  height: 40rem;
  overflow: hidden;
  display: flex;
  padding: 3rem 2rem;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
main section#products .container #products-content .product:hover img {
  transform: scale(1.05);
}
main section#products .container #products-content .product:hover .product-overlay {
  opacity: 0.6;
}
main section#products .container #products-content .product img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: 0;
  transition: transform 0.5s ease;
}
main section#products .container #products-content .product .product-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 75%);
  transition: opacity 0.75s ease;
}
main section#products .container #products-content .product .product-text {
  width: 100%;
  text-align: center;
  z-index: 5;
}
main section#products .container #products-content .product .product-text h6 {
  font-size: 2.2rem;
  font-weight: 400;
  color: #fff;
  margin-bottom: 1.25rem;
}
main section#products .container #products-content .product .product-text a {
  position: relative;
  font-size: 1.3rem;
  font-weight: 500;
  color: #b6b6b6;
  transition: color 0.3s ease;
}
main section#products .container #products-content .product .product-text a:hover {
  color: #fff;
}
main section#products .container #products-content .product .product-text a:hover::after {
  background-color: #fff;
}
main section#products .container #products-content .product .product-text a::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.1rem;
  background-color: #b6b6b6;
  position: absolute;
  bottom: -0.15rem;
  left: 0;
  transition: background-color 0.3s ease;
}
main section#details {
  padding: 7.6rem 0 12rem 0;
}
main section#details #details-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000;
  z-index: 200;
  display: none;
}
main section#details #details-popup #popup-container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
main section#details #details-popup #popup-container i {
  cursor: pointer;
  font-size: 2rem;
  color: #fff;
  margin-bottom: 0.75rem;
}
main section#details #details-popup #popup-container img {
  border: 0.25rem solid #fff;
  width: 50rem;
  height: 50rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
main section#details .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 12rem;
}
main section#details .container #details-image {
  width: 70%;
  height: 85rem;
  padding-right: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
main section#details .container #details-image img {
  cursor: pointer;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border: 0.25rem solid #212121;
  transition: border-color 0.5s ease;
}
main section#details .container #details-image img:hover {
  border-color: #fff;
}
main section#details .container #details-image #details-main-image {
  width: calc(100% - 18rem);
  height: 100%;
}
main section#details .container #details-image #details-sub-images {
  width: 18rem;
  margin-left: 0.75rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
main section#details .container #details-image #details-sub-images img {
  margin: 0.375rem 0;
}
main section#details .container #details-image #details-sub-images img:first-child {
  margin-top: 0;
}
main section#details .container #details-image #details-sub-images img:last-child {
  margin-bottom: 0;
}
main section#details .container #details-content {
  width: 30%;
  padding-left: 2.5rem;
}
main section#details .container #details-content h1 {
  font-size: 4.2rem;
  font-weight: 400;
  color: #fff;
  line-height: 4.8rem;
  margin-bottom: 1rem;
}
main section#details .container #details-content #details-text {
  margin-bottom: 2rem;
}
main section#details .container #details-content #details-text p {
  font-size: 1.6rem;
  font-weight: 400;
  color: #b6b6b6;
  line-height: 1.75;
}
main section#details .container #details-content #details-categories {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 2.5rem;
}
main section#details .container #details-content #details-categories h3 {
  font-size: 2.2rem;
  font-weight: 400;
  color: #fff;
  margin-right: 1.5rem;
  line-height: 1;
}
main section#details .container #details-content #details-categories ul {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
main section#details .container #details-content #details-categories ul li {
  margin-right: 1rem;
}
main section#details .container #details-content #details-categories ul li a {
  font-size: 1.25rem;
  font-weight: 500;
  color: #b6b6b6;
  text-transform: uppercase;
  transition: color 0.3s ease;
}
main section#details .container #details-content #details-categories ul li a:hover {
  color: #fff;
}
main section#details .container #details-content #details-categories ul li:last-child {
  margin-right: 0;
}
main section#details .container #details-content #details-tags {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
main section#details .container #details-content #details-tags h3 {
  font-size: 2.2rem;
  font-weight: 400;
  color: #fff;
  margin-right: 1.5rem;
  line-height: 1;
}
main section#details .container #details-content #details-tags ul {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
main section#details .container #details-content #details-tags ul li {
  cursor: pointer;
  margin-right: 1rem;
  font-size: 1.25rem;
  font-weight: 500;
  color: #000;
  padding: 0.35rem 1.25rem;
  border-radius: 3rem;
  background-color: #fff;
  text-transform: uppercase;
  transition: color 0.3s ease;
}
main section#details .container #details-content #details-tags ul li:last-child {
  margin-right: 0;
}
main section#details .container #details-collapse {
  width: 100%;
  padding-top: 12rem;
}
main section#details .container #details-collapse #collapse-title {
  margin-bottom: 3rem;
}
main section#details .container #details-collapse #collapse-title ul {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
main section#details .container #details-collapse #collapse-title ul li {
  cursor: pointer;
  position: relative;
  font-size: 2.7rem;
  font-weight: 400;
  color: #fff;
  line-height: 1.5;
  margin-right: 3.5rem;
}
main section#details .container #details-collapse #collapse-title ul li:hover::after, main section#details .container #details-collapse #collapse-title ul li.active::after {
  width: 100%;
}
main section#details .container #details-collapse #collapse-title ul li::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 0.15rem;
  background-color: #fff;
  transition: width 0.5s ease;
}
main section#details .container #details-collapse #collapse-title ul li:last-child {
  margin-right: 0;
}
main section#details .container #details-collapse #collapse-content ul li {
  width: 100%;
  display: none;
}
main section#details .container #details-collapse #collapse-content ul li.active {
  display: block;
}
main section#details .container #details-collapse #collapse-content ul li#description p {
  font-size: 1.6rem;
  font-weight: 400;
  color: #b6b6b6;
  line-height: 1.75;
}
main section#details .container #details-collapse #collapse-content ul li#additional table {
  width: 100%;
}
main section#details .container #details-collapse #collapse-content ul li#additional table tr {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.1rem solid #282828;
}
main section#details .container #details-collapse #collapse-content ul li#additional table tr th {
  width: 50%;
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
  padding: 0.7rem 1.25rem;
}
main section#details .container #details-collapse #collapse-content ul li#additional table tr td {
  cursor: default;
  width: 50%;
  font-size: 1.6rem;
  font-weight: 400;
  color: #b6b6b6;
  padding: 0.7rem 1rem;
  transition: color 0.3s ease;
}
main section#details .container #details-collapse #collapse-content ul li#additional table tr td:hover {
  color: #fff;
}
main section#details .container #details-collapse #collapse-content ul li#reviews #reviews-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
main section#details .container #details-collapse #collapse-content ul li#reviews #reviews-content p {
  font-size: 1.6rem;
  font-weight: 400;
  color: #b6b6b6;
  line-height: 2.3rem;
}
main section#details .container #details-collapse #collapse-content ul li#reviews #reviews-content .review {
  width: calc(50% - 1.5rem);
  margin: 2rem 0;
  display: flex;
  justify-content: flex-start;
}
main section#details .container #details-collapse #collapse-content ul li#reviews #reviews-content .review .review-image {
  width: 12rem;
  height: 12rem;
  margin-right: 2.5rem;
}
main section#details .container #details-collapse #collapse-content ul li#reviews #reviews-content .review .review-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border: 0.2rem solid #212121;
}
main section#details .container #details-collapse #collapse-content ul li#reviews #reviews-content .review .review-content {
  padding-top: 1rem;
}
main section#details .container #details-collapse #collapse-content ul li#reviews #reviews-content .review .review-content .review-stars {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0.75rem;
}
main section#details .container #details-collapse #collapse-content ul li#reviews #reviews-content .review .review-content .review-stars svg {
  width: 1.6rem;
  height: auto;
  margin-right: 0.4rem;
  fill: #fff;
  stroke: #fff;
  stroke-width: 30;
}
main section#details .container #details-collapse #collapse-content ul li#reviews #reviews-content .review .review-content .review-stars svg:last-child {
  margin-right: 0;
}
main section#details .container #details-collapse #collapse-content ul li#reviews #reviews-content .review .review-content .review-text h5 {
  font-size: 2.2rem;
  font-weight: 400;
  color: #fff;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
main section#details .container #details-collapse #collapse-content ul li#reviews #reviews-content .review .review-content .review-text h5 span {
  padding: 0 1rem;
  border: 0.15rem solid #818181;
  border-radius: 0.7rem;
  font-size: 1.2rem;
  font-weight: 400;
  color: #fff;
  margin-left: 1.5rem;
}
main section#details .container #details-related {
  width: 100%;
  padding-top: 6rem;
}
main section#details .container #details-related h2 {
  width: 100%;
  font-size: 3.4rem;
  font-weight: 400;
  color: #fff;
  line-height: 1.75;
  margin-bottom: 3rem;
}
main section#details .container #details-related #related-content {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
main section#details .container #details-related #related-content .product {
  position: relative;
  width: calc(25% - 1.5rem);
  margin: 0 0.75rem;
  border: 0.15rem solid #212121;
  height: 40rem;
  overflow: hidden;
  display: flex;
  padding: 3rem 2rem;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
main section#details .container #details-related #related-content .product:hover img {
  transform: scale(1.05);
}
main section#details .container #details-related #related-content .product:hover .product-overlay {
  opacity: 0.6;
}
main section#details .container #details-related #related-content .product img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: 0;
  transition: transform 0.5s ease;
}
main section#details .container #details-related #related-content .product .product-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 75%);
  transition: opacity 0.75s ease;
}
main section#details .container #details-related #related-content .product .product-text {
  width: 100%;
  text-align: center;
  z-index: 5;
}
main section#details .container #details-related #related-content .product .product-text h6 {
  font-size: 2.2rem;
  font-weight: 400;
  color: #fff;
  margin-bottom: 1.25rem;
}
main section#details .container #details-related #related-content .product .product-text a {
  position: relative;
  font-size: 1.3rem;
  font-weight: 500;
  color: #b6b6b6;
  transition: color 0.3s ease;
}
main section#details .container #details-related #related-content .product .product-text a:hover {
  color: #fff;
}
main section#details .container #details-related #related-content .product .product-text a:hover::after {
  background-color: #fff;
}
main section#details .container #details-related #related-content .product .product-text a::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.1rem;
  background-color: #b6b6b6;
  position: absolute;
  bottom: -0.15rem;
  left: 0;
  transition: background-color 0.3s ease;
}
main section#coming-soon {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section#coming-soon #coming-soon-background {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background-image: url(../img/cooming-soon-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  transition: transform 0.5s ease;
}
main section#coming-soon .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section#coming-soon .container #coming-soon-title h1 {
  font-size: 7rem;
  font-weight: 400;
  color: #FFF;
  letter-spacing: 0.14rem;
  margin-bottom: 4rem;
  text-align: center;
}
main section#coming-soon .container #coming-soon-timelapse {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section#coming-soon .container #coming-soon-timelapse .timelapse {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 2rem;
  width: 15%;
}
main section#coming-soon .container #coming-soon-timelapse .timelapse span {
  font-size: 4.4rem;
  font-weight: 400;
  color: #FFF;
  margin-bottom: 1rem;
}
main section#coming-soon .container #coming-soon-timelapse .timelapse p {
  font-size: 1.8rem;
  font-weight: 400;
  color: #b6b6b6;
}

/*#endregion*/
/*#region Footer Codes*/
footer {
  width: 100%;
  background-color: #000;
  padding: 12rem 0;
  border-top: 0.2rem solid #212121;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .container div {
  width: 20%;
}
footer .container #footer-business {
  width: 30%;
}
footer .container #footer-business img {
  max-width: 10rem;
  width: 50%;
  margin-bottom: 3rem;
}
footer .container #footer-business p {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  line-height: 1.75;
  color: #fff;
}
footer .container #footer-address h6, footer .container #footer-overview h6, footer .container #footer-social h6 {
  font-size: 2.2rem;
  font-weight: 400;
  color: #fff;
  margin-bottom: 2rem;
}
footer .container #footer-address ul, footer .container #footer-overview ul, footer .container #footer-social ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
footer .container #footer-address ul li, footer .container #footer-overview ul li, footer .container #footer-social ul li {
  cursor: pointer;
  transition: transform 0.3s ease;
}
footer .container #footer-address ul li:hover, footer .container #footer-overview ul li:hover, footer .container #footer-social ul li:hover {
  transform: translateX(1rem);
}
footer .container #footer-address ul li:hover a, footer .container #footer-overview ul li:hover a, footer .container #footer-social ul li:hover a {
  color: #fff;
}
footer .container #footer-address ul li a, footer .container #footer-overview ul li a, footer .container #footer-social ul li a {
  font-size: 1.6rem;
  font-weight: 400;
  color: #b6b6b6;
  line-height: 2.6rem;
  transition: color 0.3s ease;
}

/*#endregion*/
/*#region Responsive Codes*/
@media screen and (max-width: 1690px) {
  html {
    font-size: 11px;
  }
}
@media screen and (max-width: 1640px) {
  html {
    font-size: 10.8px;
  }
}
@media screen and (max-width: 1590px) {
  html {
    font-size: 10.6px;
  }
}
@media screen and (max-width: 1540px) {
  html {
    font-size: 10.4px;
  }
}
@media screen and (max-width: 1490px) {
  html {
    font-size: 10.2px;
  }
}
@media screen and (max-width: 1440px) {
  html {
    font-size: 10px;
  }
}
@media screen and (max-width: 1390px) {
  html {
    font-size: 9.75px;
  }
}
@media screen and (max-width: 1340px) {
  html {
    font-size: 9.5px;
  }
}
@media screen and (max-width: 1290px) {
  html {
    font-size: 9.25px;
  }
}
@media screen and (max-width: 1240px) {
  html {
    font-size: 9px;
  }
}
@media screen and (max-width: 1190px) {
  html {
    font-size: 8.75px;
  }
}
@media screen and (max-width: 1140px) {
  html {
    font-size: 8.5px;
  }
  .container {
    width: 90%;
  }
}
@media screen and (max-width: 1090px) {
  html {
    font-size: 8.25px;
  }
}
@media screen and (max-width: 1024px) {
  html {
    font-size: 9px;
  }
  main section#features .container #features-title p {
    width: 75%;
  }
  main section#features .container #features-content {
    flex-wrap: wrap;
  }
  main section#features .container #features-content .feature {
    width: calc(50% - 1.5rem);
  }
  main section#features .container #features-content .feature:first-child, main section#features .container #features-content .feature:nth-child(2) {
    margin-bottom: 3rem;
  }
  main section#explore {
    padding-bottom: 0;
  }
  main section#explore .container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  main section#explore .container #explore-content {
    width: 100%;
    margin-bottom: 4rem;
  }
  main section#explore .container #explore-image {
    width: 100%;
    justify-content: space-between;
  }
  main section#explore .container #explore-image img {
    width: calc(50% - 1.5rem);
    max-width: initial;
    margin-bottom: 4rem;
  }
  main section#explore .container #explore-image img:last-child {
    margin-left: 0;
  }
  main section#products .container #products-content .product {
    width: calc(33.333% - 1.5rem);
  }
  main section#details .container #details-image {
    width: 100%;
    padding-right: 0;
    margin-bottom: 12rem;
  }
  main section#details .container #details-content {
    width: 100%;
    padding-left: 0;
  }
  main section#details .container #details-content #details-text p {
    max-width: 50rem;
  }
  main section#details .container #details-collapse #collapse-content ul li#reviews #reviews-content .review {
    width: 100%;
  }
  main section#details .container #details-related #related-content .product {
    width: calc(33.333% - 1.5rem);
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 974px) {
  html {
    font-size: 8.8px;
  }
}
@media screen and (max-width: 924px) {
  html {
    font-size: 8.6px;
  }
}
@media screen and (max-width: 874px) {
  html {
    font-size: 8.4px;
  }
}
@media screen and (max-width: 824px) {
  html {
    font-size: 8.2px;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 8px;
  }
  .container {
    width: 90%;
  }
  main section#devices .container #devices-title {
    flex-direction: column;
    align-items: flex-start;
  }
  main section#devices .container #devices-title h2 {
    width: 75%;
  }
  main section#devices .container #devices-title p {
    width: 75%;
    padding-left: 0;
    border: none;
  }
  main section#show .show .container * {
    width: 75%;
  }
  main section#about #about-content .container #about-features {
    flex-direction: column;
  }
  main section#about #about-content .container #about-features .about-feature {
    width: 100%;
    align-items: center;
    margin-bottom: 6rem;
    text-align: center;
  }
  main section#about #about-content .container #about-features .about-feature p {
    max-width: 40rem;
  }
  main section#products .container #products-content .product {
    width: calc(50% - 1.5rem);
  }
  main section#details #details-popup #popup-container {
    width: 35rem;
  }
  main section#details #details-popup #popup-container img {
    width: 35rem;
    height: 35rem;
  }
  main section#details .container #details-related #related-content .product {
    width: calc(50% - 1.5rem);
    margin-bottom: 2rem;
  }
  main section#coming-soon .container #coming-soon-timelapse .timelapse {
    width: 20%;
  }
  footer {
    padding: 6rem 0;
  }
  footer .container {
    flex-wrap: wrap;
  }
  footer .container div {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .container #footer-business {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
  }
  footer .container #footer-address ul, footer .container #footer-overview ul, footer .container #footer-social ul {
    align-items: center;
  }
  footer .container #footer-address ul li, footer .container #footer-overview ul li, footer .container #footer-social ul li {
    width: 75%;
    text-align: center;
  }
}
@media screen and (max-width: 718px) {
  html {
    font-size: 7.8px;
  }
}
@media screen and (max-width: 668px) {
  html {
    font-size: 7.6px;
  }
}
@media screen and (max-width: 618px) {
  html {
    font-size: 7.4px;
  }
}
@media screen and (max-width: 568px) {
  html {
    font-size: 7.2px;
  }
}
@media screen and (max-width: 518px) {
  html {
    font-size: 7px;
  }
}
@media screen and (max-width: 468px) {
  html {
    font-size: 10px;
  }
  header {
    display: flex;
    align-items: center;
  }
  header .container {
    flex-wrap: wrap;
  }
  header .container #header-mobile {
    display: block;
  }
  header .container #header-menu {
    width: 100%;
    display: none;
    margin-top: 1.5rem;
  }
  header .container #header-menu nav ul {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
  }
  header .container #header-menu nav ul li {
    padding: 1rem 0;
  }
  header .container #header-menu nav ul li:last-child i {
    transform: rotate(90deg);
  }
  header .container #header-menu nav ul li:last-child ol {
    top: 0;
    left: -6rem;
  }
  main section#home .container #home-content h1 {
    line-height: normal;
    font-size: 4.2rem;
  }
  main section#devices .container #devices-title h2, main section#devices .container #devices-title p {
    width: 100%;
  }
  main section#devices .container #devices-content {
    height: 30rem;
  }
  main section#devices .container #devices-content #devices-slider {
    width: 250%;
  }
  main section#devices .container #devices-content #devices-slider .device {
    width: 50%;
  }
  main section#devices .container #devices-content #devices-pagination span.fourth {
    display: inline-block;
  }
  main section#show .show .container * {
    width: 100%;
  }
  main section#show .show .container h3 {
    font-size: 3rem;
  }
  main section#explore {
    padding-bottom: 0;
  }
  main section#explore .container {
    flex-direction: column;
    justify-content: flex-start;
  }
  main section#explore .container #explore-content {
    width: 100%;
    margin-bottom: 4rem;
  }
  main section#explore .container #explore-image {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
  }
  main section#explore .container #explore-image img {
    width: 100%;
    max-width: initial;
    margin-bottom: 6rem;
  }
  main section#explore .container #explore-image img:last-child {
    margin-left: 0;
    margin-bottom: 0;
  }
  main section#features .container #features-title p {
    width: 100%;
  }
  main section#features .container #features-content .feature {
    width: 100%;
  }
  main section#contact .container #contact-title {
    width: 100%;
  }
  main section#contact .container #contact-content ul {
    flex-direction: column;
    align-items: center;
  }
  main section#contact .container #contact-content ul li {
    width: 100%;
    max-width: 25rem;
    margin-bottom: 4rem;
  }
  main section#contact .container #contact-content ul li:last-child {
    margin-bottom: 0;
  }
  main section#contact .container #contact-content ul li:nth-child(3) {
    order: initial;
    padding: 0;
    margin-top: 0;
  }
  main section#contact .container #contact-instagram #instagram-content {
    flex-wrap: wrap;
  }
  main section#contact .container #contact-instagram #instagram-content .post {
    width: calc(50% - 0.5rem);
    margin-bottom: 1rem;
  }
  main section#about #about-title .container h1 {
    font-size: 6rem;
  }
  main section#products .container #products-navigation ul {
    flex-wrap: wrap;
  }
  main section#products .container #products-navigation ul li {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  main section#products .container #products-navigation ul li:last-child {
    margin-bottom: 0;
  }
  main section#products .container #products-content .product {
    width: 100%;
    margin-bottom: 2rem;
  }
  main section#details .container #details-image {
    height: initial;
    flex-direction: column;
  }
  main section#details .container #details-image #details-main-image {
    width: 100%;
    margin-bottom: 0.75rem;
  }
  main section#details .container #details-image #details-main-image img {
    height: 45rem;
  }
  main section#details .container #details-image #details-sub-images {
    flex-direction: row;
    width: 100%;
    margin-left: 0;
  }
  main section#details .container #details-image #details-sub-images img {
    width: calc(33.33% - 0.5rem);
    height: 12.5rem;
    margin: 0;
  }
  main section#details .container #details-content #details-text p {
    text-align: justify;
  }
  main section#details .container #details-collapse #collapse-title ul {
    flex-direction: column;
    align-items: flex-start;
  }
  main section#details .container #details-collapse #collapse-title ul li {
    margin-bottom: 0.75rem;
  }
  main section#details .container #details-collapse #collapse-title ul li:last-child {
    margin-bottom: 0;
  }
  main section#details .container #details-collapse #collapse-content ul li#reviews #reviews-content .review {
    flex-direction: column;
  }
  main section#details .container #details-collapse #collapse-content ul li#reviews #reviews-content .review .review-image {
    margin-bottom: 1rem;
  }
  main section#details .container #details-collapse #collapse-content ul li#reviews #reviews-content .review .review-content {
    width: 100%;
  }
  main section#details .container #details-related #related-content .product {
    width: 100%;
  }
  main section#coming-soon #coming-soon-background {
    height: 80vh;
  }
  main section#coming-soon .container #coming-soon-timelapse {
    flex-wrap: wrap;
  }
  main section#coming-soon .container #coming-soon-timelapse .timelapse {
    width: 35%;
    margin-bottom: 3rem;
  }
  main section#coming-soon .container #coming-soon-timelapse .timelapse:nth-child(3), main section#coming-soon .container #coming-soon-timelapse .timelapse:nth-child(4) {
    margin-bottom: 0;
  }
  footer .container {
    flex-wrap: wrap;
  }
  footer .container div {
    width: 100%;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .container div:last-child {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 425px) {
  html {
    font-size: 9.75px;
  }
}
@media screen and (max-width: 400px) {
  html {
    font-size: 9.5px;
  }
}
@media screen and (max-width: 375px) {
  html {
    font-size: 9.25px;
  }
}
@media screen and (max-width: 350px) {
  html {
    font-size: 9px;
  }
}
@media screen and (max-width: 325px) {
  html {
    font-size: 8.75px;
  }
}
/*#endregion*//*# sourceMappingURL=style.css.map */